parameters:
  - name: masterCommitId
    type: string

steps:
# - ${{ if endsWith(variables['build.sourceBranch'], '/merge') }}:
#   - checkout: none
#   - bash: |
#       # As this is a pull request, we need to do a fake merge
#       # uses similar process to existing checkout task
#       prBranch=$SYSTEM_PULLREQUEST_SOURCEBRANCH
#       echo "Checking out merge commit for ${{ parameters.masterCommitId }} and $prBranch"
#       git version
#       git lfs version
#       echo "Updating git config ..."
#       git config init.defaultBranch master
#       echo "Initializing repository at $BUILD_REPOSITORY_LOCALPATH ..."
#       git init "$BUILD_REPOSITORY_LOCALPATH"
#       echo "Adding remote $BUILD_REPOSITORY_URI ..."
#       git remote add origin "$BUILD_REPOSITORY_URI"
#       git config gc.auto 0
#       git config --get-all http.$BUILD_REPOSITORY_URI.extraheader
#       git config --get-all http.extraheader
#       git config --get-regexp .*extraheader
#       git config --get-all http.proxy
#       git config http.version HTTP/1.1
#       echo "Force fetching master and $prBranch ..."
#       git fetch --force --tags --prune --prune-tags --progress --no-recurse-submodules origin +refs/heads/master:refs/remotes/origin/master +refs/heads/$prBranch:refs/remotes/origin/$prBranch
#       echo "Checking out $prBranch..."
#       git checkout --force $prBranch
#       echo "Resetting $prBranch to origin/$prBranch ..."
#       git reset origin/$prBranch --hard
#       echo "Running git clean -ffdx ..."
#       git clean -ffdx
#     displayName: checkout
#   - bash: |
#       echo "Updating credentials ..."
#       git config user.email "gitfun@example.com"
#       git config user.name "Automatic Merge"

#       echo "Merging $prBranch with ${{ parameters.masterCommitId }} ..."
#       git merge ${{ parameters.masterCommitId }}
      
#       mergeInProgress=$?
#       if [ $mergeInProgress -ne 0 ]
#       then
#         echo "Merge failed, rolling back ..."
#         git merge --abort
#         exit 1;
#       fi

#       echo "Merge successful"
#       git status
#     displayName: merge
# - ${{ else }}:
- checkout: self
  clean: true
