parameters:
  - name: packageType
    type: string
    default: runtime

steps:
- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 2.1
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 2.1.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 3.0
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 3.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 3.1
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 3.1.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 5.0
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 5.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 6.0
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 6.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 7.0
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 7.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 8.0
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 8.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core ${{ parameters.packageType }} 8.0
  inputs:
    packageType: ${{ parameters.packageType }}
    version: 9.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install latest dotnet core sdk
  inputs:
    packageType: sdk
    version: $(dotnetCoreSdkLatestVersion)
  retryCountOnTaskFailure: 5