steps:
- task: UseDotNet@2
  displayName: install dotnet core runtime 2.1
  inputs:
    packageType: runtime
    version: 2.1.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core runtime 3.0
  inputs:
    packageType: runtime
    version: 3.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core runtime 3.1
  inputs:
    packageType: runtime
    version: 3.1.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core runtime 5.0
  inputs:
    packageType: runtime
    version: 5.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core runtime 6.0
  inputs:
    packageType: runtime
    version: 6.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install dotnet core runtime 7.0
  inputs:
    packageType: runtime
    version: 7.0.x
  retryCountOnTaskFailure: 5

- task: UseDotNet@2
  displayName: install latest dotnet core sdk
  inputs:
    packageType: sdk
    version: $(dotnetCoreSdkLatestVersion)
  retryCountOnTaskFailure: 5