parameters:
  - name: includeX86
    type: boolean
    default: false

steps:
- task: UseDotNet@2
  displayName: install dotnet core sdk 2.1
  inputs:
    packageType: sdk
    version: 2.1.x

- task: UseDotNet@2
  displayName: install dotnet core sdk 3.0
  inputs:
    packageType: sdk
    version: 3.0.x

- task: UseDotNet@2
  displayName: install dotnet core sdk 3.1
  inputs:
    packageType: sdk
    version: 3.1.x

- task: UseDotNet@2
  displayName: install dotnet core sdk 5
  inputs:
    packageType: sdk
    version: 5.0.x

- task: UseDotNet@2
  displayName: install dotnet core sdk 6
  inputs:
    packageType: sdk
    version: $(dotnetCoreSdk6Version)
    includePreviewVersions: true

- ${{ if eq(parameters.includeX86, true) }}:
    - template: install-dotnet-sdk-32bit.yml
      parameters:
        channel: 2.1
    - template: install-dotnet-sdk-32bit.yml
      parameters:
        channel: 3.0
    - template: install-dotnet-sdk-32bit.yml
      parameters:
        channel: 3.1
    - template: install-dotnet-sdk-32bit.yml
      parameters:
        channel: 5.0
    - template: install-dotnet-sdk-32bit.yml
      parameters:
        sdkVersion: $(dotnetCoreSdk6Version)