# Powershell only - installs SDK "manually" using dotnet-install.ps1 script
# instead of using UseDotNet task, because UseDotNet complains about stupid
# stuff like "oh, we won't always cache this, I'm going to flood your build with warnings"
parameters:
  - name: sdkVersion
    type: string
    default: ''

  - name: channel
    type: string
    default: ''

  - name: is64bit
    type: boolean
    default: true

steps:
  - bash: |
      if [ -n "$CHANNEL" ] && [ -n "$SDKVERSION" ]; then
        echo "##vso[task.logissue type=error;]You can't provide both \"channel\" and \"sdkVersion\". Pick one."
        echo "##vso[task.complete result=Failed;]"
      elif [ -z "$CHANNEL" ] && [ -z "$SDKVERSION" ]; then
        echo "##vso[task.logissue type=error;]You must provide either \"channel\" or \"sdkVersion\"."
        echo "##vso[task.complete result=Failed;]"
      fi
    env:
      CHANNEL: ${{ parameters.channel }}
      SDKVERSION: ${{ parameters.sdkVersion }}
    displayName: Validate parameters
    retryCountOnTaskFailure: 5

  - powershell: |
      echo "Downloading dotnet-install.ps1"
      Invoke-WebRequest -Uri "https://dot.net/v1/dotnet-install.ps1" -OutFile dotnet-install.ps1

      if( "${{ parameters.is64bit }}" -eq "true") {
        $path = "<auto>"
        $arch = "x64"
        $noPath = $False
      } else {
        $path = "C:\Users\VssAdministrator\AppData\Local\Microsoft\dotnet_32"
        $arch = "x86"
        $noPath = $True

        echo "Manually exporting path to DOTNET_EXE_32"
        echo "##vso[task.setvariable variable=DOTNET_EXE_32]$path\dotnet.exe"
      }

      echo "Installing dotnet ($arch) to $path"

      if("${{ parameters.sdkVersion }}") {
        ./dotnet-install.ps1 -Version ${{ parameters.sdkVersion }} -Architecture $arch -NoPath:$noPath -InstallDir $path
      } else {
        ./dotnet-install.ps1 -Channel ${{ parameters.channel }} -Architecture $arch -NoPath:$noPath -InstallDir $path
      }

      rm ./dotnet-install.ps1
      echo "Install complete"
    displayName: Install dotnet core sdk ${{ parameters.sdkVersion }} (64bit ${{ parameters.sdkVersion }})
    retryCountOnTaskFailure: 5
