parameters:
  - name: includeX86
    type: boolean
    default: false

steps:
- template: install-dotnet-sdk-manually.yml
  parameters:
    channel: 2.1

- template: install-dotnet-sdk-manually.yml
  parameters:
    channel: 3.0

- template: install-dotnet-sdk-manually.yml
  parameters:
    channel: 3.1

- template: install-dotnet-sdk-manually.yml
  parameters:
    channel: 5.0

- template: install-dotnet-sdk-manually.yml
  parameters:
    channel: 6.0

- template: install-dotnet-sdk-manually.yml
  parameters:
    channel: 7.0

- template: install-dotnet-sdk-manually.yml
  parameters:
    sdkVersion: $(dotnetCoreSdkLatestVersion)

- ${{ if eq(parameters.includeX86, true) }}:
    - template: install-dotnet-sdk-manually.yml
      parameters:
        channel: 2.1
        is64bit: false
    - template: install-dotnet-sdk-manually.yml
      parameters:
        channel: 3.0
        is64bit: false
    - template: install-dotnet-sdk-manually.yml
      parameters:
        channel: 3.1
        is64bit: false
    - template: install-dotnet-sdk-manually.yml
      parameters:
        channel: 5.0
        is64bit: false
    - template: install-dotnet-sdk-manually.yml
      parameters:
        channel: 6.0
        is64bit: false
    - template: install-dotnet-sdk-manually.yml
      parameters:
        channel: 7.0
        is64bit: false
    - template: install-dotnet-sdk-manually.yml
      parameters:
        sdkVersion: $(dotnetCoreSdkLatestVersion)
        is64bit: false