parameters:
  - name: 'baseImage'
    type: 'string'
    default: centos7

  - name: 'target'
    type: 'string'
    default: tester
    
  - name: build
    type: boolean
    default: false
    
  - name: command
    type: string

  - name: extraArgs
    type: string
    default: ''
    
  - name: 'apiKey'
    type: string
    default: ''

steps:
- ${{ if eq(parameters.build, true) }}:
  - script: |
      docker build \
        --build-arg DOTNETSDK_VERSION=$(dotnetCoreSdkLatestVersion) \
        --tag dd-trace-dotnet/${{ parameters.baseImage }}-${{ parameters.target }} \
        --target ${{ parameters.target }} \
        --file "$(System.DefaultWorkingDirectory)/tracer/build/_build/docker/${{ parameters.baseImage }}.dockerfile" \
        "$(System.DefaultWorkingDirectory)/tracer/build/_build"
    displayName: Build ${{ parameters.baseImage }} Docker image
    retryCountOnTaskFailure: 5
- script: |
    docker run --rm \
        --mount type=bind,source="$(System.DefaultWorkingDirectory)",target=/project \
        --env NugetPackageDirectory=/project/$(relativeNugetPackageDirectory) \
        --env artifacts=/project/$(relativeArtifacts) \
        --env DD_CLR_ENABLE_NGEN=$(DD_CLR_ENABLE_NGEN) \
        --env DD_INSTRUMENTATION_TELEMETRY_ENABLED \
        --env Verify_DisableClipboard=true \
        --env DiffEngine_Disabled=true \
        --env TestAllPackageVersions=$(TestAllPackageVersions) \
        --env IncludeMinorPackageVersions=$(IncludeMinorPackageVersions) \
        --env NUGET_ENABLE_EXPERIMENTAL_HTTP_RETRY=true \
        --env enable_crash_dumps=$(enable_crash_dumps) \
        --env DD_LOGGER_DD_API_KEY=$(DD_LOGGER_DD_API_KEY) \
        --env DD_LOGGER_DD_SERVICE=$(DD_LOGGER_DD_SERVICE) \
        --env DD_LOGGER_DD_ENV=$(DD_LOGGER_DD_ENV) \
        --env DD_LOGGER_BUILD_BUILDID=$(DD_LOGGER_BUILD_BUILDID) \
        --env DD_LOGGER_BUILD_DEFINITIONNAME="$(DD_LOGGER_BUILD_DEFINITIONNAME)" \
        --env DD_LOGGER_BUILD_SOURCESDIRECTORY=$(DD_LOGGER_BUILD_SOURCESDIRECTORY) \
        --env DD_LOGGER_BUILD_REPOSITORY_URI=$(DD_LOGGER_BUILD_REPOSITORY_URI) \
        --env DD_LOGGER_BUILD_SOURCEVERSION=$(DD_LOGGER_BUILD_SOURCEVERSION) \
        --env DD_LOGGER_BUILD_SOURCEBRANCH=$(DD_LOGGER_BUILD_SOURCEBRANCH) \
        --env DD_LOGGER_BUILD_SOURCEBRANCHNAME="$(DD_LOGGER_BUILD_SOURCEBRANCHNAME)" \
        --env DD_LOGGER_SYSTEM_PULLREQUEST_SOURCEREPOSITORYURI=$(DD_LOGGER_SYSTEM_PULLREQUEST_SOURCEREPOSITORYURI) \
        --env DD_LOGGER_SYSTEM_PULLREQUEST_SOURCEBRANCH=$(DD_LOGGER_SYSTEM_PULLREQUEST_SOURCEBRANCH) \
        --env DD_LOGGER_SYSTEM_PULLREQUEST_SOURCECOMMITID=$(DD_LOGGER_SYSTEM_PULLREQUEST_SOURCECOMMITID) \
        --env DD_LOGGER_SYSTEM_STAGEDISPLAYNAME="$(DD_LOGGER_SYSTEM_STAGEDISPLAYNAME)" \
        --env DD_LOGGER_SYSTEM_JOBDISPLAYNAME="$(DD_LOGGER_SYSTEM_JOBDISPLAYNAME)" \
        --env DD_LOGGER_SYSTEM_JOBID=$(DD_LOGGER_SYSTEM_JOBID) \
        ${{ parameters.extraArgs }} \
        dd-trace-dotnet/${{ parameters.baseImage }}-${{ parameters.target }} \
        dotnet /build/bin/Debug/_build.dll ${{ parameters.command }}
  displayName: Run '${{ parameters.command }}' in Docker
  env:
    DD_LOGGER_DD_API_KEY: ${{ parameters.apiKey }}
