parameters:
  - name: 'baseImage'
    type: 'string'
    default: centos7

  - name: 'target'
    type: 'string'
    default: tester
    
  - name: build
    type: boolean
    default: false
    
  - name: command
    type: string

steps:
- ${{ if eq(parameters.build, true) }}:
  - script: |
      docker build \
        --build-arg DOTNETSDK_VERSION=$(dotnetCoreSdkLatestVersion) \
        --tag dd-trace-dotnet/${{ parameters.baseImage }}-${{ parameters.target }} \
        --target ${{ parameters.target }} \
        --file "$(System.DefaultWorkingDirectory)/tracer/build/_build/docker/${{ parameters.baseImage }}.dockerfile" \
        "$(System.DefaultWorkingDirectory)/tracer/build/_build"
    displayName: Build ${{ parameters.baseImage }} Docker image
    retryCountOnTaskFailure: 5
- script: |
    docker run --rm \
        --mount type=bind,source="$(System.DefaultWorkingDirectory)",target=/project \
        --env NugetPackageDirectory=/project/$(relativeNugetPackageDirectory) \
        --env artifacts=/project/$(relativeArtifacts) \
        --env DD_CLR_ENABLE_NGEN=$(DD_CLR_ENABLE_NGEN) \
        --env DD_INSTRUMENTATION_TELEMETRY_ENABLED \
        --env Verify_DisableClipboard=true \
        --env DiffEngine_Disabled=true \
        --env TestAllPackageVersions=$(TestAllPackageVersions) \
        --env IncludeMinorPackageVersions=$(IncludeMinorPackageVersions) \
        --env NUGET_ENABLE_EXPERIMENTAL_HTTP_RETRY=true \
        dd-trace-dotnet/${{ parameters.baseImage }}-${{ parameters.target }} \
        dotnet /build/bin/Debug/_build.dll ${{ parameters.command }}
  displayName: Run '${{ parameters.command }}' in Docker
