parameters:
  - name: 'jobs'
    type: object
    default: {}

jobs:
  - job: set_pending
    timeoutInMinutes: 60 #default value
    pool:
      vmImage: ubuntu-18.04
    steps:
    - checkout: none
    - template: update-github-status.yml
      parameters:
        checkName: $(System.StageName)
        status: 'pending'
        description: 'Run in progress'

  - job: set_succeeded
    timeoutInMinutes: 60 #default value
    pool:
      vmImage: ubuntu-18.04
    dependsOn:
    - set_pending
    - ${{ each job in parameters.jobs }}:
      - ${{ job }}
    condition: succeeded()
    steps:
    - checkout: none
    - template: update-github-status.yml
      parameters:
        checkName: $(System.StageName)
        status: 'success'
        description: 'Run succeeded'

  - job: set_failed
    timeoutInMinutes: 60 #default value
    pool:
      vmImage: ubuntu-18.04
    dependsOn:
      - set_pending
      - ${{ each job in parameters.jobs }}:
          - ${{ job }}
    condition: not(succeeded())
    steps:
    - checkout: none
    - template: update-github-status.yml
      parameters:
        checkName: $(System.StageName)
        status: 'failure'
        description: 'Run failed'