<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <!-- For the SerializedLayout from the log4net.Ext.Json NuGet package, you can explicitly extract the 'dd.trace_id' and 'dd.span_id' values using new <member> nodes (see: https://github.com/BrightOpen/log4net.Ext.Json#json-stuff) -->
        <!--
            Additions to layout:
            - <member value='dd.trace_id' />
            - <member value='dd.span_id' />
        -->
        <appender name="jsonFileExplicitPropertiesAppender" type="log4net.Appender.FileAppender" >
            <file value="log-log4net-jsonFile-explicitProperties.log" />
            <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
                <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
                <default />
                <!--explicit default members-->
                <remove value='message' />
                <!--remove the default preformatted message member-->
                <member value='message:messageobject' />
                <!--add raw message-->
                <member value='order-number' />

                <!-- Manual changes: start -->
                <member value='dd.trace_id' />
                <member value='dd.span_id' />
                <!-- Manual changes: end -->
            </layout>
        </appender>

        <!-- For the SerializedLayout from the log4net.Ext.Json NuGet package, you can also explicitly extract the 'properties' value, which will automatically emit the `dd.trace_id` and `dd.span_id` values (see: https://github.com/BrightOpen/log4net.Ext.Json#json-stuff) -->
        <!--
            Additions to layout:
            - <member value='properties'/>
        -->
        <appender name="jsonFileAllPropertiesAppender" type="log4net.Appender.FileAppender" >
            <file value="log-log4net-jsonFile-allProperties.log" />
            <!-- Set up SerializedLayout as defined here: https://github.com/BrightOpen/log4net.Ext.Json#json-stuff -->
            <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
                <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
                <default />
                <!--explicit default members-->
                <remove value='message' />
                <!--remove the default preformatted message member-->
                <member value='message:messageobject' />
                <!--add raw message-->

                <!-- Manual changes: start -->
                <member value='properties'/>
                <!-- Manual changes: end -->
            </layout>
        </appender>

        <root>
            <level value="INFO" />
            <appender-ref ref="jsonFileExplicitPropertiesAppender" />
            <appender-ref ref="jsonFileAllPropertiesAppender" />
        </root>
    </log4net>
</configuration>