# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# By default every team is owner
*                                         @DataDog/apm-dotnet @DataDog/debugger-dotnet @DataDog/profiling-dotnet

# Tracer
/tracer/                                  @DataDog/apm-dotnet

# CI
/tracer/src/Datadog.Trace/Ci/             @DataDog/apm-dotnet @DataDog/ci-app-libraries-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/CI/   @DataDog/ci-app-libraries-dotnet

# ASM
/tracer/src/Datadog.Trace/AppSec/         @DataDog/apm-dotnet @DataDog/asm-dotnet
/tracer/test/test-applications/security   @DataDog/apm-dotnet @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.IntegrationTests @DataDog/apm-dotnet @DataDog/asm-dotnet
/tracer/test/Datadog.Trace.Security.Unit.Tests       @DataDog/apm-dotnet @DataDog/asm-dotnet

# Profiler
/profiler/                                @DataDog/profiling-dotnet
.github/workflows/profiler-pipeline.yml   @DataDog/profiling-dotnet
/tracer/src/Datadog.Trace/ContinuousProfiler @DataDog/apm-dotnet @DataDog/profiling-dotnet

# Debugger
/tracer/src/Datadog.Trace/Debugger/        @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.Tests/Debugger/ @DataDog/debugger-dotnet
/tracer/src/Datadog.Trace/PDBs/            @DataDog/debugger-dotnet
/tracer/test/Datadog.Trace.ClrProfiler.IntegrationTests/Debugger/ @DataDog/debugger-dotnet
/tracer/test/test-applications/debugger/   @DataDog/debugger-dotnet

# Shared code we could move to the root folder
/tracer/build/                            @DataDog/apm-dotnet @DataDog/debugger-dotnet @DataDog/profiling-dotnet @DataDog/asm-dotnet
