@model Dictionary<string, string> 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Home page</title>
</head>
<body>
    <h1>Admin Home page</h1>
    <ul>
        @foreach (var pair in Model)
        {
            <li>@pair.Key = @pair.Value</li>
        }
    </ul>
</body>
</html>
