tracer/test/
tracer/deploy/

.circleci/

.github/
**/.vs/
**/.vscode/
packages/
**/bin/
**/obj/

!tracer/test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/bin/
!tracer/test/test-applications/aspnet/Samples.AspNet.MultipleAppsInDomain/bin/
!artifacts/msi/

!tracer/test/Datadog.Trace.TestHelpers/
!tracer/test/agent/
!tracer/test/Directory.Build.props
!tracer/test/GlobalSuppressions.cs
