tracer/test/
tracer/deploy/

.circleci/
.git/
.github/
**/.vs/
**/.vscode/
packages/
**/bin/
**/obj/

!tracer/test/test-applications/aspnet/Samples.AspNet472.LoaderOptimizationRegKey/bin/
!tracer/src/WindowsInstaller/bin/