
stages:
  - build
  - package
  - publish
  - deploy

include:
  - remote: https://gitlab-templates.ddbuild.io/apm/packaging.yml

variables:
  GIT_PROFILER_REF: master
  DEPLOY_TO_REL_ENV:
    value: "false"
    description: "Set to true to override rules in the reliability-env pipeline (e.g. override 'only deploy master')"
  DOWNSTREAM_BRANCH:
    value: "master"
    description: "Run a specific datadog-reliability-env branch downstream"
  DEPLOY_TO_DEBUGGER_BACKEND:
    value: "false"
    description: "Set to true to deploy to debugger backend demo application"
  DOTNET_PACKAGE_VERSION:
    description: "Used by the package stage when triggered manually"

build:
  except:
    variables:
      - $DEPLOY_TO_REL_ENV == "true"
      - $CI_COMMIT_TAG # We don't need to build/publish when building a release tag
  stage: build
  tags: ["runner:windows-docker", "windowsversion:1809"]
  script:
    - if (Test-Path build-out) { remove-item -recurse -force build-out }
    - if (Test-Path artifacts) { remove-item -recurse -force artifacts }
    - docker run --rm -m 8192M -v "$(Get-Location):c:\mnt" -e CI_JOB_ID=${CI_JOB_ID} -e ENABLE_MULTIPROCESSOR_COMPILATION=false -e WINDOWS_BUILDER=true -e AWS_NETWORKING=true -e SIGN_WINDOWS=true -e NUGET_CERT_REVOCATION_MODE=offline datadog/dd-trace-dotnet-docker-build:latest
    - mkdir artifacts
    - xcopy /e/s build-out\${CI_JOB_ID}\*.* artifacts
    - remove-item -recurse -force build-out\${CI_JOB_ID}
    - get-childitem build-out
    - get-childitem artifacts
  artifacts:
    expire_in: 2 weeks
    paths:
    - artifacts

publish:
  only:
    - master
    - main
    - /^hotfix.*$/
    - /^release.*$/
  except:
    variables:
      - $DEPLOY_TO_REL_ENV == "true"
      - $CI_COMMIT_TAG # We don't need to build/publish when building a release tag
  stage: publish
  tags: ["runner:windows-docker", "windowsversion:1809"]
  dependencies:
    - build
  script:
    - $result =  aws sts assume-role --role-arn "arn:aws:iam::486234852809:role/ci-datadog-windows-filter" --role-session-name AWSCLI-Session
    - $resultjson = $result | convertfrom-json
    - $credentials = $($resultjson.Credentials)
    - $Env:AWS_ACCESS_KEY_ID="$($credentials.AccessKeyId)"
    - $Env:AWS_SECRET_ACCESS_KEY="$($credentials.SecretAccessKey)"
    - $Env:AWS_SESSION_TOKEN="$($credentials.SessionToken)"
    - |
      $i = 0
      do {
          try {
              # The grants option at the end is used to allow public access on the files we upload as the acls only aren't enough.
              aws s3 cp artifacts/ s3://dd-windowsfilter/builds/tracer/${CI_COMMIT_SHA} --recursive --region us-east-1 --exclude "*" --include "*.zip" --include "*.msi" --grants read=uri=http://acs.amazonaws.com/groups/global/AllUsers full=id=3a6e02b08553fd157ae3fb918945dd1eaae5a1aa818940381ef07a430cf25732
              If ($LASTEXITCODE -eq 0) { 
                return
              }

              throw "Error uploading artifacts to S3"
          } catch {
              $msg = $Error[0].Exception.Message
              Write-Output "Encountered error during while publishing to S3. Error Message is $msg."
              Write-Output "Retrying..."
              $i++
              Start-Sleep -Milliseconds 100
          }
      } while ($i -lt 3)

deploy_to_reliability_env:
  stage: deploy
  rules:
    - if: '$DEPLOY_TO_REL_ENV == "true"'
  trigger:
    project: DataDog/apm-reliability/datadog-reliability-env
    branch: $DOWNSTREAM_BRANCH
  variables:
    UPSTREAM_PACKAGE_JOB: build
    UPSTREAM_PROJECT_NAME: $CI_PROJECT_NAME
    FORCE_TRIGGER: $DEPLOY_TO_REL_ENV

# The 4 jobs below, do not depend on the packaging stage. So they are ran always, even if package stage can fail.
deploy_to_docker_registries:
  stage: deploy
  rules:
    - if: '$POPULATE_CACHE'
      when: never
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-prerelease)?$/'
      when: always
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/public-images
    branch: main
    strategy: depend
  variables:
    IMG_SOURCES: ghcr.io/datadog/dd-trace-dotnet/dd-lib-dotnet-init:$CI_COMMIT_SHA
    IMG_DESTINATIONS: dd-lib-dotnet-init:$CI_COMMIT_TAG
    IMG_SIGNING: "false"

deploy_musl_tag_to_docker_registries:
  stage: deploy
  rules:
    - if: '$POPULATE_CACHE'
      when: never
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-prerelease)?$/'
      when: always
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/public-images
    branch: main
    strategy: depend
  variables:
    IMG_SOURCES: ghcr.io/datadog/dd-trace-dotnet/dd-lib-dotnet-init:$CI_COMMIT_SHA-musl
    IMG_DESTINATIONS: dd-lib-dotnet-init:$CI_COMMIT_TAG-musl
    IMG_SIGNING: "false"

deploy_latest_tag_to_docker_registries:
  stage: deploy
  rules:
    - if: '$POPULATE_CACHE'
      when: never
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-prerelease)?$/'
      when: always
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/public-images
    branch: main
    strategy: depend
  variables:
    IMG_SOURCES: ghcr.io/datadog/dd-trace-dotnet/dd-lib-dotnet-init:$CI_COMMIT_SHA
    IMG_DESTINATIONS: dd-lib-dotnet-init:latest
    IMG_SIGNING: "false"

deploy_latest_musl_tag_to_docker_registries:
  stage: deploy
  rules:
    - if: '$POPULATE_CACHE'
      when: never
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-prerelease)?$/'
      when: always
    - when: manual
      allow_failure: true
  trigger:
    project: DataDog/public-images
    branch: main
    strategy: depend
  variables:
    IMG_SOURCES: ghcr.io/datadog/dd-trace-dotnet/dd-lib-dotnet-init:$CI_COMMIT_SHA-musl
    IMG_DESTINATIONS: dd-lib-dotnet-init:latest-musl
    IMG_SIGNING: "false"

deploy_to_debugger_backend:
  stage: deploy
  rules:
    - if: '$DEPLOY_TO_DEBUGGER_BACKEND == "true"'
  trigger:
    project: DataDog/debugger-demos
    branch: main
  variables:
    UPSTREAM_PACKAGE_JOB: build
    UPSTREAM_PROJECT_NAME: $CI_PROJECT_NAME
    UPSTREAM_BRANCH: $CI_COMMIT_BRANCH
    UPSTREAM_TAG: $DEPLOY_TAG


package:
  extends: .package
  rules:
    - if: $DOTNET_PACKAGE_VERSION
      when: on_success
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-prerelease)?$/'
      when: manual
      allow_failure: false
  script:
    - ../.gitlab/build-deb-rpm.sh

.release-package:
  stage: deploy
  variables:
    PRODUCT_NAME: auto_inject-dotnet