[submodule "tracer/test/Datadog.Trace.Tests/FeatureFlags/ffe-system-test-data"]
	path = tracer/test/Datadog.Trace.Tests/FeatureFlags/ffe-system-test-data
	url = https://github.com/DataDog/ffe-system-test-data.git
	branch = main
