@model ProductDetails
@{
    ViewData["Title"] = "Product Details";
}

<h2>@Model.ProductName</h2>
<br />
<br />
<dl class="row">
    <dt class="col-sm-2">Product Name:</dt>
    <dd class="col-sm-10">@Model.ProductName</dd>
    <dt class="col-sm-2">Distributor:</dt>
    <dd class="col-sm-10">@Model.ShippingInfo.Distributor</dd>
    <dt class="col-sm-2">Days to ship:</dt>
    <dd class="col-sm-10">@Model.ShippingInfo.DaysToShip</dd>
</dl>