@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Calculated Pi calculated using a trivial approximation series with @IndexModel.IterationCount iterations.<br />
    Result: is @Model.GetPiComputationResults()</p>

</div>
