<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringProvider"/>
            </basicHttpBinding>
            <basicHttpsBinding>
                <binding name="BasicHttpsBinding_IStringProvider"/>
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44310/Datadog.Demos.WcfService/StringProvider" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IStringProvider" contract="Demos.WcfService.IStringProvider" name="BasicHttpsBinding_IStringProvider"/>
            <endpoint address="http://localhost:8000/Datadog.Demos.WcfService/StringProvider" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringProvider" contract="Demos.WcfService.IStringProvider" name="BasicHttpBinding_IStringProvider"/>
        </client>
    </system.serviceModel>

    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add name="ServiceModelTraceListener"/>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add name="ServiceModelTraceListener"/>
                </listeners>
            </source>
            <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add name="ServiceModelTraceListener"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp"/>
        </sharedListeners>
    </system.diagnostics>
</configuration>
