@model List<KeyValuePair<string, string>>

@{
    Page.Title = "Error Page";
}

<div class="container">
    <div>Error Information:</div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var envVar in Model)
                {
                    <tr>
                        <th scope="row">@envVar.Key</th>
                        <td>@envVar.Value</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">(empty)</td>
                </tr>
            }
        </tbody>
    </table>
</div>