<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Tracer.EnvironmentVariables.Machine" Directory="INSTALLFOLDER">
        <Component Id="Tracer.EnvironmentVariablesShared" Guid="{3BBBC152-D016-489D-B811-E85412F8AFCF}">
          <CreateFolder/>
          <Environment Id="DD_DOTNET_TRACER_HOME" Name="DD_DOTNET_TRACER_HOME" Action="set" Permanent="no" System="yes" Value="[INSTALLFOLDER]" Part="all" />
        </Component>
      </ComponentGroup>
  </Fragment>
</Wix>
