<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Tracer.Files" Directory="INSTALLFOLDER">
    </ComponentGroup>

    <?if $(var.Win64) = yes ?>
    <ComponentGroup Id="Tracer.Files.Native.64" Directory="INSTALLFOLDER.win_x64">
      <Component Win64="yes">
        <File Id="Datadog.Tracer.Native"
              Source="$(var.MonitoringHomeDirectory)\win-x64\Datadog.Tracer.Native.dll"
              Checksum="yes">
        </File>
      </Component>
      <Component Win64="yes">
        <File Id="LibDdwaf"
              Source="$(var.MonitoringHomeDirectory)\win-x64\ddwaf.dll"
              Checksum="yes">
        </File>
      </Component>
    </ComponentGroup>
    <?endif ?>

    <!-- Always install the 32-bit binaries, even for the 64-bit installer -->
    <ComponentGroup Id="Tracer.Files.Native.32" Directory="INSTALLFOLDER.win_x86">
      <Component Win64="$(var.Win64)" Id="Datadog.Tracer.Native.32">
        <File Id="Datadog.Tracer.Native.32"
              Source="$(var.MonitoringHomeDirectory)\win-x86\Datadog.Tracer.Native.dll"
              Checksum="yes">
        </File>
        <File Id="LibDdwaf.32"
              Source="$(var.MonitoringHomeDirectory)\win-x86\ddwaf.dll"
              Checksum="yes">
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
