<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Tracer.Files" Directory="INSTALLFOLDER">
    </ComponentGroup>

    <?if $(var.Win64) = yes ?>
    <ComponentGroup Id="Tracer.Files.Native.64" Directory="INSTALLFOLDER.win_x64">
      <!-- ddwaf.dll used to be its own component; merged into Datadog.Tracer.Native's
           so it can be a CompanionFile (WiX/MSI require a companion to live in the
           same component as the file whose version decides its replacement on
           upgrade). See Shared.Files.NativeLoader.64 in shared/Files.wxs for the
           same treatment of libdatadog. -->
      <Component Id="Datadog.Tracer.Native">
        <File Id="Datadog.Tracer.Native"
              Source="$(var.MonitoringHomeDirectory)\win-x64\Datadog.Tracer.Native.dll"
              Checksum="yes">
        </File>
        <File Id="LibDdwaf"
              Source="$(var.MonitoringHomeDirectory)\win-x64\ddwaf.dll"
              CompanionFile="Datadog.Tracer.Native">
        </File>
      </Component>
    </ComponentGroup>
    <?endif ?>

    <!-- Always install the 32-bit binaries, even for the 64-bit installer -->
    <ComponentGroup Id="Tracer.Files.Native.32" Directory="INSTALLFOLDER.win_x86">
      <Component Id="Datadog.Tracer.Native.32">
        <File Id="Datadog.Tracer.Native.32"
              Source="$(var.MonitoringHomeDirectory)\win-x86\Datadog.Tracer.Native.dll"
              Checksum="yes">
        </File>
        <File Id="LibDdwaf.32"
              Source="$(var.MonitoringHomeDirectory)\win-x86\ddwaf.dll"
              CompanionFile="Datadog.Tracer.Native.32">
        </File>
      </Component>
    </ComponentGroup>

    <?if $(var.Win64) = yes ?>
    <ComponentGroup Id="dd_dotnet.cmd" Directory="INSTALLFOLDER">
        <Component>
            <File Id="dd_dotnet.cmd"
                Source="$(var.MonitoringHomeDirectory)\dd-dotnet.cmd"
                Checksum="yes">
            </File>
        </Component>
    </ComponentGroup>
    <ComponentGroup Id="dd_dotnet.exe" Directory="INSTALLFOLDER.win_x64">
        <Component>
            <File Id="dd_dotnet.exe"
                Source="$(var.MonitoringHomeDirectory)\win-x64\dd-dotnet.exe"
                Checksum="yes">
            </File>
        </Component>
    </ComponentGroup>
    <?endif ?>
  </Fragment>
</Wix>
