<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Tracer.Files.Managed.Netcoreapp31" Directory="INSTALLFOLDER.netcoreapp3.1">
      <Component>
        <File Id="netcoreapp31_Datadog.Trace.dll"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp3.1\Datadog.Trace.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component>
        <File Id="netcoreapp31_Datadog.Trace.MSBuild.dll"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp3.1\Datadog.Trace.MSBuild.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component>
        <File Id="netcoreapp31_Datadog.Trace.MSBuild.pdb"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp3.1\Datadog.Trace.MSBuild.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component>
        <File Id="netcoreapp31_Datadog.Trace.pdb"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp3.1\Datadog.Trace.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
