<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Tracer.Files.Managed.Net461.GAC" Directory="INSTALLFOLDER.net461.GAC">
      <Component Win64="$(var.Win64)">
        <File Id="net461_GAC_Datadog.Trace.dll"
              Source="$(var.MonitoringHomeDirectory)\net461\Datadog.Trace.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net461_GAC_Datadog.Trace.MSBuild.dll"
              Source="$(var.MonitoringHomeDirectory)\net461\Datadog.Trace.MSBuild.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
