<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Tracer.Files.Managed.Netcoreapp21" Directory="INSTALLFOLDER.netcoreapp2.1">
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp21_Datadog.Trace.dll"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp2.1\Datadog.Trace.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp21_Datadog.Trace.MSBuild.dll"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp2.1\Datadog.Trace.MSBuild.dll"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp21_Datadog.Trace.MSBuild.pdb"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp2.1\Datadog.Trace.MSBuild.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="netcoreapp21_Datadog.Trace.pdb"
              Source="$(var.MonitoringHomeDirectory)\netcoreapp2.1\Datadog.Trace.pdb"
              KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
