<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="Files.Managed.Net45.GAC" Directory="net45.GAC">
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_Datadog.Trace.AspNet.dll"
              Source="$(var.TracerHomeDirectory)\net45\Datadog.Trace.AspNet.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_Datadog.Trace.ClrProfiler.Managed.Core.dll"
              Source="$(var.TracerHomeDirectory)\net45\Datadog.Trace.ClrProfiler.Managed.Core.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_Datadog.Trace.ClrProfiler.Managed.dll"
              Source="$(var.TracerHomeDirectory)\net45\Datadog.Trace.ClrProfiler.Managed.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_Datadog.Trace.Core.dll"
              Source="$(var.TracerHomeDirectory)\net45\Datadog.Trace.Core.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_Datadog.Trace.dll"
              Source="$(var.TracerHomeDirectory)\net45\Datadog.Trace.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_MessagePack.dll"
              Source="$(var.TracerHomeDirectory)\net45\MessagePack.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_Newtonsoft.Json.dll"
              Source="$(var.TracerHomeDirectory)\net45\Newtonsoft.Json.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_Sigil.dll"
              Source="$(var.TracerHomeDirectory)\net45\Sigil.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_System.Diagnostics.DiagnosticSource.dll"
              Source="$(var.TracerHomeDirectory)\net45\System.Diagnostics.DiagnosticSource.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_System.Runtime.CompilerServices.Unsafe.dll"
              Source="$(var.TracerHomeDirectory)\net45\System.Runtime.CompilerServices.Unsafe.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_System.Runtime.InteropServices.RuntimeInformation.dll"
              Source="$(var.TracerHomeDirectory)\net45\System.Runtime.InteropServices.RuntimeInformation.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_System.Threading.Tasks.Extensions.dll"
              Source="$(var.TracerHomeDirectory)\net45\System.Threading.Tasks.Extensions.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_GAC_System.ValueTuple.dll"
              Source="$(var.TracerHomeDirectory)\net45\System.ValueTuple.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
