<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.InstallerVersion)"
           Manufacturer="$(var.ArpManufacturer)"
           UpgradeCode="fc228e86-eae2-4c2a-ae82-135b718c269e">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="$(var.ProductName)" />

    <Icon Id="datadog.ico" SourceFile="datadog-icon.ico"/>
    <Property Id="ARPPRODUCTICON">datadog.ico</Property>
    <Property Id="ARPURLINFOABOUT">https://datadoghq.com/</Property>
    <Property Id="ARPHELPLINK">https://datadoghq.com/support/</Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)" Key="Software\$(var.Company)\$(var.ProductName)" Name="InstallPath"/>
    </Property>

    <UIRef Id="WixUI_InstallDir_Custom"/>
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="Datadog.Trace.ClrProfiler" Level="1">
      <ComponentGroupRef Id="Files"/>
      <ComponentGroupRef Id="Files.Native"/>
      <ComponentGroupRef Id="Files.Managed.Net45"/>
      <ComponentGroupRef Id="Registry"/>
      <ComponentGroupRef Id="EnvironmentVariables.Machine"/>
      <ComponentGroupRef Id="EnvironmentVariables.User"/>
    </Feature>

    <InstallExecuteSequence>
      <ScheduleReboot After='InstallFinalize'/>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ProgramFilesFolder.Datadog" Name="$(var.Company)">
          <Directory Id="INSTALLFOLDER" Name="$(var.BaseProductName)">
            <Directory Id="INSTALLFOLDER_NET45" Name="net45"/>
            <Directory Id="INSTALLFOLDER_NETCOREAPP20" Name="netcoreapp2.0"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Files" Directory="INSTALLFOLDER">
      <Component Win64="$(var.Win64)">
          <File Id="integrations.json" Source="..\..\integrations.json" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Files.Managed.Net45" Directory="INSTALLFOLDER_NET45">
      <Component Win64="$(var.Win64)">
        <File Id="net45_Datadog.Trace.ClrProfiler.Managed.dll"
              Source="$(var.ManagedDllPath)\Datadog.Trace.ClrProfiler.Managed.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_Datadog.Trace.dll"
              Source="$(var.ManagedDllPath)\Datadog.Trace.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_MsgPack.dll"
              Source="$(var.ManagedDllPath)\MsgPack.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="net45_System.Runtime.InteropServices.RuntimeInformation.dll"
              Source="$(var.ManagedDllPath)\System.Runtime.InteropServices.RuntimeInformation.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Files.Native" Directory="INSTALLFOLDER">
      <Component Win64="$(var.Win64)">
        <File Id="Datadog.Trace.ClrProfiler.Native"
              Source="$(var.NativeDllPath)\Datadog.Trace.ClrProfiler.Native.dll"
              Checksum="yes">
          <Class Id="$(var.ProfilerCLSID)" Context="InprocServer32" ThreadingModel="both" Description="$(var.ProductName)"/>
        </File>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Registry" Directory="INSTALLFOLDER">
      <Component Win64="$(var.Win64)">
        <CreateFolder/>
        <RegistryKey Root="HKLM" Key="Software\$(var.Company)\$(var.ProductName)">
          <RegistryValue Type="string" Name="InstallPath" Value="[INSTALLFOLDER]" Action="write"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="EnvironmentVariables.Machine" Directory="INSTALLFOLDER">
      <Component Id="EnvironmentVariablesShared" Guid="{C314A305-9C24-4E46-9ECF-E5EEA703BDEA}" Win64="$(var.Win64)">
        <CreateFolder/>
        <Environment Id="DATADOG_APM_DOTNET_HOME" Name="DATADOG_APM_DOTNET_HOME" Action="set" Permanent="no" System="yes" Value="[INSTALLFOLDER]" Part="all"/>        
        <Environment Id="DATADOG_INTEGRATIONS" Name="DATADOG_INTEGRATIONS" Action="set" Permanent="no" System="yes" Value="[INSTALLFOLDER]\integrations.json" Part="all" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="EnvironmentVariables.User" Directory="INSTALLFOLDER">
      <Component Id="Registry.EnvironmentVariables.W3SVC" Guid="{702DB265-F33E-47F4-A6B0-E21FA0FC21C1}" Win64="$(var.Win64)">
        <CreateFolder/>
        <RegistryKey Root="HKLM"
                     Key="System\CurrentControlSet\Services\W3SVC">
          <RegistryValue Type="multiString" Name="Environment" Value="COR_ENABLE_PROFILING=1[~]COR_PROFILER=$(var.ProfilerCLSID)[~]DATADOG_PROFILER_PROCESSES=w3wp.exe" Action="append"/>
        </RegistryKey>
      </Component>

      <Component Id="Registry.EnvironmentVariables.WAS" Guid="{6CF8AB88-240E-4A0A-B630-43119C064AD4}" Win64="$(var.Win64)">
        <RegistryKey Root="HKLM"
                     Key="System\CurrentControlSet\Services\WAS">
          <RegistryValue Type="multiString" Name="Environment" Value="COR_ENABLE_PROFILING=1[~]COR_PROFILER=$(var.ProfilerCLSID)[~]DATADOG_PROFILER_PROCESSES=w3wp.exe" Action="append"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
