<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="*"
           Name="Datadog APM for .NET"
           Language="1033"
           Version="0.2"
           Manufacturer="Datadog, Inc."
           UpgradeCode="fc228e86-eae2-4c2a-ae82-135b718c269e">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="$(var.ProductName)"/>

    <!--
        <Property Id="ARPCOMMENTS">any comments</Property>
        <Property Id="ARPCONTACT">contact info</Property>
        <Property Id="ARPURLUPDATEINFO">URL for product updates</Property>
        <Property Id="ARPHELPTELEPHONE">URL for technical support</Property>
        <Property Id="ARPREADME">path</Property>
        <Property Id="ARPNOREMOVE">1</Property>
        <Property Id="ARPNOREPAIR">1</Property>
        <Property Id="ARPNOMODIFY">1</Property>
        <Property Id="ARPSIZE">32</Property>
        -->
    <Icon Id="datadog.ico" SourceFile="datadog-icon.ico"/>

    <Property Id="ARPPRODUCTICON">datadog.ico</Property>
    <Property Id="ARPURLINFOABOUT">https://datadoghq.com/</Property>
    <Property Id="ARPHELPLINK">https://datadoghq.com/support/</Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)" Key="Software\Company\Product" Name="InstallLocation"/>
    </Property>

    <UIRef Id="WixUI_InstallDir_Custom"/>
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
    <MediaTemplate/>

    <Feature Id="ProductFeature" Title="Datadog.Trace.ClrProfiler" Level="1">
      <ComponentGroupRef Id="ManagedComponents"/>
      <ComponentGroupRef Id="NativeComponents64"/>
      <ComponentGroupRef Id="NativeComponents32"/>
      <ComponentGroupRef Id="EnvironmentVariables"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ProgramFilesFolder.Datadog" Name="Datadog">
          <Directory Id="INSTALLFOLDER" Name="APM for .NET">
            <Directory Id="INSTALLFOLDER32" Name="x86"/>
            <Directory Id="INSTALLFOLDER64" Name="x64"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ManagedComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="..\..\src\Datadog.Trace.ClrProfiler.Managed\bin\Debug\net45\Datadog.Trace.ClrProfiler.Managed.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component>
        <File Source="..\..\src\Datadog.Trace.ClrProfiler.Managed\bin\Debug\net45\Datadog.Trace.dll" Checksum="yes"/>
      </Component>
      <Component>
        <File Source="..\..\src\Datadog.Trace.ClrProfiler.Managed\bin\Debug\net45\MsgPack.dll" Checksum="yes"/>
      </Component>
      <Component>
        <File Source="..\..\src\Datadog.Trace.ClrProfiler.Managed\bin\Debug\net45\System.Runtime.InteropServices.RuntimeInformation.dll" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="NativeComponents64" Directory="INSTALLFOLDER64">
      <Component Win64="no">
        <File Id="Datadog.Trace.ClrProfiler.Native.x64" Source="..\..\src\Datadog.Trace.ClrProfiler.Native\x64\Debug\$(var.NativeDllName)" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="NativeComponents32" Directory="INSTALLFOLDER32">
      <Component Win64="no">
        <File Id="Datadog.Trace.ClrProfiler.Native.x86" Source="..\..\src\Datadog.Trace.ClrProfiler.Native\Win32\Debug\$(var.NativeDllName)" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="EnvironmentVariables" Directory="INSTALLFOLDER">
      <Component Id="EnvironmentVariablesShared" Guid="{C314A305-9C24-4E46-9ECF-E5EEA703BDEA}">
        <CreateFolder/>
        <Environment Id="DATADOG_APM_DOTNET_HOME" Name="DATADOG_APM_DOTNET_HOME" Action="set" Permanent="no" System="yes" Value="[INSTALLFOLDER]" Part="all"/>

        <Environment Id="COR_ENABLE_PROFILING" Name="COR_ENABLE_PROFILING" Action="create" Permanent="no" System="yes" Value="0"/>
        <Environment Id="COR_PROFILER" Name="COR_PROFILER" Action="create" Permanent="no" System="yes" Value="{846F5F1C-F9AE-4B07-969E-05C26BC060D8}"/>
        <Environment Id="COR_PROFILER_PATH" Name="COR_PROFILER_PATH" Action="create" Permanent="no" System="yes" Value="[INSTALLFOLDER64]$(var.NativeDllName)"/>

        <Environment Id="CORECLR_ENABLE_PROFILING" Name="CORECLR_ENABLE_PROFILING" Action="create" Permanent="no" System="yes" Value="0"/>
        <Environment Id="CORECLR_PROFILER" Name="CORECLR_PROFILER" Action="create" Permanent="no" System="yes" Value="{846F5F1C-F9AE-4B07-969E-05C26BC060D8}"/>
        <Environment Id="CORECLR_PROFILER_PATH" Name="COR_PROFILER_PATH" Action="create" Permanent="no" System="yes" Value="[INSTALLFOLDER64]$(var.NativeDllName)"/>
      </Component>

      <Component Id="EnvironmentVariables32" Guid="{5206971B-1BCA-412A-BD1C-33EE76799399}">
        <CreateFolder/>
        <Environment Id="COR_PROFILER_PATH_32" Name="COR_PROFILER_PATH_32" Action="create" Permanent="no" System="yes" Value="[INSTALLFOLDER32]$(var.NativeDllName)"/>
        <Environment Id="CORECLR_PROFILER_PATH_32" Name="CORECLR_PROFILER_PATH_32" Action="create" Permanent="no" System="yes" Value="[INSTALLFOLDER32]$(var.NativeDllName)"/>
      </Component>

      <Component Id="EnvironmentVariables64" Guid="{D52A5BBD-FCA1-46D6-BFD5-AF5A883D5878}">
        <CreateFolder/>
        <Environment Id="COR_PROFILER_PATH_64" Name="COR_PROFILER_PATH_64" Action="create" Permanent="no" System="yes" Value="[INSTALLFOLDER64]$(var.NativeDllName)"/>
        <Environment Id="CORECLR_PROFILER_PATH_64" Name="CORECLR_PROFILER_PATH_64" Action="create" Permanent="no" System="yes" Value="[INSTALLFOLDER64]$(var.NativeDllName)"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>