@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}

<h1>Hello, world!</h1>

<div>
    Bitness: @(Environment.Is64BitProcess ? "64-bit" : "32-bit")
</div>