@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>
<br />
<br />
<blockquote>
    @ViewData["Review1_Quote"] - <i>@ViewData["Review1_Source"]</i>
</blockquote>
<blockquote>
    @ViewData["Review2_Quote"] - <i>@ViewData["Review2_Source"]</i>
</blockquote>
<a href="/Reviews/1">Refresh</a>