# !! The code in this project is vendired (copied) from another repo. We do not intend to modify them.
# !! We turn off all code styles enforcement for these files in order to avoid the need to change them and to avoid noise in our build.

#root = FALSE

# C# files
[*.cs]

#### .NET Coding Conventions ####

# File headers
dotnet_diagnostic.IDE0073.severity = silent ##override of: warning  # Require file header

# this. and Me. preferences
dotnet_diagnostic.IDE0003.severity = silent ##override of: silent  # Remove this or Me qualification
dotnet_diagnostic.IDE0009.severity = silent ##override of: silent  # Add this or Me qualification

# Language keywords vs BCL types preferences
dotnet_diagnostic.IDE0049.severity = silent ##override of: error  # Use language keywords instead of framework type names for type references

# Parentheses preferences
dotnet_diagnostic.IDE0047.severity = silent ##override of: silent  # Remove unnecessary parentheses
dotnet_diagnostic.IDE0048.severity = silent ##override of: silent  # Add parentheses for clarity

# Modifier preferences
dotnet_diagnostic.IDE0040.severity = silent ##override of: error  # Add accessibility modifiers

# Expression-level preferences
dotnet_diagnostic.IDE0029.severity = silent ##override of: warning  # Use coalesce expression (non-nullable types)
dotnet_diagnostic.IDE0030.severity = silent ##override of: warning  # Use coalesce expression (nullable types)

dotnet_diagnostic.IDE0028.severity = silent ##override of: silent  # Use collection initializers 

dotnet_diagnostic.IDE0033.severity = silent ##override of: suggestion  # Use explicitly provided tuple name

dotnet_diagnostic.IDE0031.severity = silent ##override of: warning  # Use null propagation

dotnet_diagnostic.IDE0017.severity = silent ##override of: silent  # Use object initializers

dotnet_diagnostic.IDE0032.severity = silent ##override of: silent  # Use auto property

dotnet_diagnostic.IDE0054.severity = silent ##override of: suggestion  # Use compound assignment
dotnet_diagnostic.IDE0074.severity = silent ##override of: suggestion  # Use coalesce compound assignment

dotnet_diagnostic.IDE0045.severity = silent ##override of: silent  # Use conditional expression for assignment 

dotnet_diagnostic.IDE0046.severity = silent ##override of: silent  # Use conditional expression for return

dotnet_diagnostic.IDE0037.severity = silent ##override of: suggestion  # Use inferred member name

dotnet_diagnostic.IDE0041.severity = silent ##override of: suggestion  # Use is null check

dotnet_diagnostic.IDE0075.severity = silent ##override of: warning  # Simplify conditional expression

dotnet_diagnostic.IDE0071.severity = silent ##override of: silent  # Simplify interpolation

# Field preferences
dotnet_diagnostic.IDE0044.severity = silent ##override of: warning  # Add readonly modifier

# Parameter preferences
dotnet_diagnostic.IDE0060.severity = silent ##override of: warning  # Remove unused parameter

# Suppression preferences
dotnet_diagnostic.IDE0079.severity = silent ##override of: warning  # Remove unnecessary suppression

#### C# Coding Conventions ####

# var preferences
dotnet_diagnostic.IDE0007.severity = silent ##override of: silent  # Use 'var' instead of explicit type
dotnet_diagnostic.IDE0008.severity = silent ##override of: error  # Use explicit type instead of 'var'

# Expression-bodied members
dotnet_diagnostic.IDE0027.severity = silent ##override of: suggestion

dotnet_diagnostic.IDE0021.severity = silent ##override of: error  # Use expression body for constructors

dotnet_diagnostic.IDE0026.severity = silent ##override of: suggestion  # Use expression body for indexers 

dotnet_diagnostic.IDE0053.severity = silent ##override of: suggestion  # Use expression body for lambdas

dotnet_diagnostic.IDE0061.severity = silent ##override of: error  # Use expression body for local functions 

dotnet_diagnostic.IDE0022.severity = silent ##override of: error  # Use expression body for methods

dotnet_diagnostic.IDE0023.severity = silent ##override of: suggestion  # Use expression body for conversion operators
dotnet_diagnostic.IDE0024.severity = silent ##override of: suggestion  # Use expression body for operators

dotnet_diagnostic.IDE0025.severity = silent ##override of: suggestion  # Use expression body for properties

# Pattern matching preferences
dotnet_diagnostic.IDE0019.severity = silent ##override of: suggestion  # Use pattern matching to avoid 'as' followed by a 'null' check

dotnet_diagnostic.IDE0020.severity = silent ##override of: suggestion  # Use pattern matching to avoid is check followed by a cast (with variable)
dotnet_diagnostic.IDE0038.severity = silent ##override of: suggestion  # Use pattern matching to avoid is check followed by a cast (without variable)

dotnet_diagnostic.IDE0083.severity = silent ##override of: suggestion  # Use pattern matching (not operator)

dotnet_diagnostic.IDE0078.severity = silent ##override of: silent  # Use pattern matching

dotnet_diagnostic.IDE0066.severity = silent ##override of: silent  # Use switch expression

# Null-checking preferences
dotnet_diagnostic.IDE1005.severity = silent ##override of: suggestion  # Use conditional delegate call

# Modifier preferences
dotnet_diagnostic.IDE0062.severity = silent ##override of: warning  # Make local function static

dotnet_diagnostic.IDE0036.severity = silent ##override of: warning  # Order modifiers

# Code-block preferences
dotnet_diagnostic.IDE0011.severity = silent ##override of: error  # Add braces

dotnet_diagnostic.IDE0063.severity = silent ##override of: silent  # Use simple 'using' statement

# Expression-level preferences
dotnet_diagnostic.IDE0034.severity = silent ##override of: suggestion  # Simplify default expression

dotnet_diagnostic.IDE0042.severity = silent ##override of: suggestion  # Deconstruct variable declaration

dotnet_diagnostic.IDE0018.severity = silent ##override of: suggestion  # Inline variable declaration

dotnet_diagnostic.IDE0039.severity = silent ##override of: warning  # Use local function instead of lambda

dotnet_diagnostic.IDE0056.severity = silent ##override of: silent  # Use index operator

dotnet_diagnostic.IDE0057.severity = silent ##override of: silent  # Use range  operator

dotnet_diagnostic.IDE0016.severity = silent ##override of: warning  # Use throw expression

dotnet_diagnostic.IDE0059.severity = silent ##override of: warning  # Remove unnecessary value assignment   

dotnet_diagnostic.IDE0058.severity = silent ##override of: silent      # Remove unnecessary expression value

# 'using' directive preferences
dotnet_diagnostic.IDE0065.severity = silent ##override of: error  # 'using' directive placement

#### C# Formatting Rules ####

dotnet_diagnostic.IDE0055.severity = silent ##override of: warning  # Fix formatting

#### IDExxxx rules that do not have a corresponding dotnet_style_blah or csharp_style_blah specification: ####

dotnet_diagnostic.IDE0064.severity = silent ##override of: warning     # Make struct fields writable 
dotnet_diagnostic.IDE0010.severity = silent ##override of: error       # Add missing cases to switch statement
dotnet_diagnostic.IDE0072.severity = silent ##override of: error       # Add missing cases to switch expression
dotnet_diagnostic.IDE0050.severity = silent ##override of: suggestion  # Convert anonymous type to tuple
dotnet_diagnostic.IDE0082.severity = silent ##override of: warning     # Convert typeof to nameof
dotnet_diagnostic.IDE0076.severity = silent ##override of: error       # Remove invalid global 'SuppressMessageAttribute'
dotnet_diagnostic.IDE0077.severity = silent ##override of: error       # Avoid legacy format target in global 'SuppressMessageAttribute'
dotnet_diagnostic.IDE0001.severity = silent ##override of: silent      # Simplify name 
dotnet_diagnostic.IDE0002.severity = silent ##override of: silent      # Simplify member access  
dotnet_diagnostic.IDE0004.severity = silent ##override of: silent      # Remove unnecessary cast
dotnet_diagnostic.IDE0005.severity = silent ##override of: warning     # Remove unnecessary import
dotnet_diagnostic.IDE0035.severity = silent ##override of: suggestion  # Remove unreachable code
dotnet_diagnostic.IDE0051.severity = silent ##override of: warning     # Remove unused private member  
dotnet_diagnostic.IDE0052.severity = silent ##override of: warning     # Remove unread private member 
dotnet_diagnostic.IDE0080.severity = silent ##override of: warning     # Remove unnecessary suppression operator 
dotnet_diagnostic.IDE0100.severity = silent ##override of: silent      # Remove unnecessary equality operator  
dotnet_diagnostic.IDE0110.severity = silent ##override of: warning     # Remove unnecessary discard
dotnet_diagnostic.IDE0070.severity = silent ##override of: warning     # Use 'System.HashCode.Combine'

#### Rules that have dotnet_style_blah or csharp_style_blah specification, but are not in the VS UI: ####

dotnet_diagnostic.IDE0090.severity = silent ##override of: suggestion  # Simplify new expression

#### Naming styles ####

dotnet_diagnostic.IDE1006.severity = silent ##override of: error  # Naming rule violation 