<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Set in applicationHost.config instead -->
      <!-- <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\stdout" hostingModel="%LAUNCHER_HOSTING_MODEL%" /> -->
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44320" />
          <environmentVariable name="DD_DYNAMIC_INSTRUMENTATION_ENABLED" value="true" />
          <environmentVariable name="DD_VERSION" value="1.0.0" />
          <environmentVariable name="DD_EXCEPTION_DEBUGGING_ENABLED" value="true" />
          <environmentVariable name="DD_TRACE_DEBUG" value="1" />
          <environmentVariable name="DD_TRACE_HEADER_TAGS" value="sample.correlation.identifier, Server" />
          <environmentVariable name="CORECLR_PROFILER" value="{846F5F1C-F9AE-4B07-969E-05C26BC060D8}" />
          <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
          <environmentVariable name="DD_DOTNET_TRACER_HOME" value="C:\dev\dd-trace-dotnet\shared\bin\monitoring-home" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="CORECLR_PROFILER_PATH_32" value="C:\dev\dd-trace-dotnet\shared\bin\monitoring-home\win-x86\Datadog.Tracer.Native.dll" />
          <environmentVariable name="CORECLR_PROFILER_PATH_64" value="C:\dev\dd-trace-dotnet\shared\bin\monitoring-home\win-x64\Datadog.Tracer.Native.dll" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>