@page "{id}"
@using System.ComponentModel.DataAnnotations

@{
    Layout = null;
}
@functions
{
    [BindProperty(SupportsGet = true)]
    [Range(minimum: 1, maximum: 1_000_000)] 
    public int Id { get; set; }

    public void OnGet()
    {
        if (!ModelState.IsValid)
        {
            Response.StatusCode = 400;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product page</title>
</head>
<body>
<h1>Product ID @Id</h1>
</body>
</html>