<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="textfile" type="LogsInjection.Log4Net.AppDirFileAppender, LogsInjection.Log4Net">
            <file value="log-textFile.log" />
            <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date [%thread] %level %logger {dd.env: &quot;%property{dd.env}&quot;, dd.service: &quot;%property{dd.service}&quot;, dd.version: &quot;%property{dd.version}&quot;, dd.trace_id: &quot;%property{dd.trace_id}&quot;, dd.span_id: &quot;%property{dd.span_id}&quot;} - %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="INFO" />
            <appender-ref ref="textfile" />
        </root>
    </log4net>
</configuration>