<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="ContinuousProfiler.EnvironmentVariables.Machine" Directory="INSTALLFOLDER">
    </ComponentGroup>
  </Fragment>
</Wix>
