<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="ContinuousProfiler.Files.Managed.Net461.GAC" Directory="ContinuousProfiler.net461.GAC">
      <Component Win64="$(var.Win64)">
        <Condition>WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED</Condition>
        <File Id="net461_GAC_Google.Protobuf.dll"
              Source="$(var.ProfilerHomeDirectory)\net461\Google.Protobuf.dll"
              KeyPath="yes" Checksum="yes" Assembly=".net"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
