<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <ComponentGroup Id="ContinuousProfiler.Files" Directory="ContinuousProfiler">
      <Component Win64="$(var.Win64)">
        <File Id="DDProf_SetEnv.bat" Source="$(var.ProfilerHomeDirectory)\DDProf-SetEnv.bat" />
      </Component>
      <Component Win64="$(var.Win64)">
        <File Id="DDProf_SetEnv.sh" Source="$(var.ProfilerHomeDirectory)\DDProf-SetEnv.sh" />
      </Component>
    </ComponentGroup>

    <?if $(var.Win64) = yes ?>
    <ComponentGroup Id="ContinuousProfiler.Files.Native.64" Directory="ContinuousProfiler">
      <Component Win64="yes">
        <File Id="Datadog.AutoInstrumentation.Profiler.Native.x64.dll"
              Source="$(var.ProfilerHomeDirectory)\Datadog.AutoInstrumentation.Profiler.Native.x64.dll"
              Checksum="yes">
        </File>
      </Component>
      <Component Win64="yes">
        <File Id="Datadog.AutoInstrumentation.Profiler.Native.x64.pdb"
              Source="$(var.ProfilerHomeDirectory)\Datadog.AutoInstrumentation.Profiler.Native.x64.pdb"
              Checksum="yes">
        </File>
      </Component>
    </ComponentGroup>

    <!-- For the 64-bit installer, also install the 32-bit binaries -->
    <ComponentGroup Id="ContinuousProfiler.Files.Native.32" Directory="ContinuousProfiler.32">
    </ComponentGroup>

    <?else ?>

    <!-- note that for the 32-bit build, we need to install into INSTALLFOLDER instead of INSTALLFOLDER.32 -->
    <ComponentGroup Id="ContinuousProfiler.Files.Native.32" Directory="ContinuousProfiler">
    </ComponentGroup>

    <?endif ?>
  </Fragment>
</Wix>
