@model IEnumerable<Samples.AspNetMvc5.Models.Post>
@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>
@foreach (var row in Model)
{
    <ul>
        <li>
            <h2><a href="/posts/@row.PostId">@row.Title</a></h2>
            <p>@row.Body</p>
        </li>
    </ul>
}

<div>
    @Html.Raw(Context.Request["xss_message"])
</div>