@page "/Iast/HardcodedSecrets"

<h3>Hardcoded Secrets</h3>

<p>@_message</p>

@code {
    private string? _message;

    protected override void OnInitialized()
    {
        string[] hardcodedSecrets = new[] {
            "ghu_123456123456123456123456123456123456",
            "glpat--A7DO-8ZdceglrnsrMJ5",
            "glsa_6NVhs0hQUXFVHroLsch9IslQFSgd4Lum_324AC0da",
            "xapp-1-MGVEG-1-xswt",
        };

        _message = $"Loaded {hardcodedSecrets.Length} strings with potential hardcoded secrets.";
    }
}