@page "/Iast/InsecureCookie/"
@using Datadog.Trace.Annotations.Controllers
@inject IHttpContextAccessor HttpContextAccessor;

<h3>Insecure Cookie</h3>

<p>@_message</p>

@code {
    private string? _message;

    protected override void OnInitialized()
    {
        var cookieOptions = IastController.GetDefaultCookieOptionsInstance();
        cookieOptions.Secure = false;
        HttpContextAccessor.HttpContext?.Response.Cookies.Append("insecureKey", "insecureValue", cookieOptions);
        HttpContextAccessor.HttpContext?.Response.Cookies.Append(".AspNetCore.Correlation.oidc.xxxxxxxxxxxxxxxxxxx", "ExcludedCookieVulnValue", cookieOptions);
        
        _message = "Insecure cookie has been set";
    }
}