<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <!-- Trace Correlation Identifier Auto-Injection: Access the named properties using the %property{name} syntax or use the %property syntax to print all properties in a comma-separated list (see: https://logging.apache.org/log4net/release/manual/contexts.html) -->
                <!-- For the logs pipeline to process the non-JSON log lines properly, format must be dd.trace_id=<TRACE_ID> and dd.span_id=<SPAN_ID> -->
                <!-- Approach 1: Directly extract properties by name -->
                <!-- <conversionPattern value="%date [%thread] %-5level %logger [%ndc] dd.trace_id=%property{dd.trace_id} dd.span_id=%property{dd.span_id} - %message%newline" /> -->

                <!-- Approach 2: Always emit all log event properties  -->
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] %property - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
</configuration>