<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <!-- Set up SerializedLayout as defined here: https://github.com/BrightOpen/log4net.Ext.Json#json-stuff -->
            <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
                <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
                <default /> <!--explicit default members-->
                <remove value='message' /> <!--remove the default preformatted message member-->
                <member value='message:messageobject' /> <!--add raw message-->
                <member value='order-number' />

                <!-- Trace Correlation Identifier Auto-Injection: start -->
                <!-- You only need to do one of the following. -->

                <!-- Approach 1: Directly extract properties by name -->
                <!-- This results in {"dd.trace_id":"<TRACE_ID>", "dd.span_id":"<SPAN_ID>"} -->
                <!--<member value='dd.trace_id' />-->
                <!--<member value='dd.span_id' />-->

                <!-- Approach 2: Always emit all log event properties -->
                <!-- This results in {"properties": {"dd.trace_id":"<TRACE_ID>", "dd.span_id":"<SPAN_ID>"}} -->
                <member value='properties'/>
                <!-- Trace Correlation Identifier Auto-Injection: end -->
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
</configuration>