<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <!-- For the default PatternLayout, you can explicitly extract the 'dd.trace_id' and 'dd.span_id' values -->
        <appender name="textFileExplicitPropertiesAppender" type="log4net.Appender.FileAppender">
            <file value="log-log4net-textFile-explicitProperties.log" />
            <appendToFile value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <!-- Access the named properties using the %property{name} syntax (see: https://logging.apache.org/log4net/release/manual/contexts.html) -->
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] order-number=%property{order-number} dd.trace_id=%property{dd.trace_id} dd.span_id=%property{dd.span_id} - %message%newline" />
            </layout>
        </appender>

        <!-- For the default PatternLayout, you can also emit all properties and the 'dd.trace_id' and 'dd.span_id' values will automatically surface -->
        <appender name="textFileAllPropertiesAppender" type="log4net.Appender.FileAppender">
            <file value="log-log4net-textFile-allProperties.log" />
            <appendToFile value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <!-- Use the %property syntax to print all properties in a comma-separated list -->
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] %property - %message%newline" />
            </layout>
        </appender>

        <!--
             For the SerializedLayout from the log4net.Ext.Json NuGet package
             you can explicitly extract the 'dd.trace_id' and 'dd.span_id' values
        -->
        <appender name="jsonFileExplicitPropertiesAppender" type="log4net.Appender.FileAppender" >
            <file value="log-log4net-jsonFile-explicitProperties.log" />
            <appendToFile value="false" />
            <!-- Set up SerializedLayout as defined here: https://github.com/BrightOpen/log4net.Ext.Json#json-stuff -->
            <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
                <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
                <default />
                <!--explicit default members-->
                <remove value='message' />
                <!--remove the default preformatted message member-->
                <member value='message:messageobject' />
                <!--add raw message-->
                <member value='order-number' />

                <!-- Trace Correlation Identifier Auto-Injection: start -->
                <member value='dd.trace_id' />
                <member value='dd.span_id' />
                <!-- Trace Correlation Identifier Auto-Injection: end -->
            </layout>
        </appender>

        <!--
             For the SerializedLayout from the log4net.Ext.Json NuGet package
             you can also emit all properties and the `dd.trace_id` and `dd.span_id` values will automatically surface
         -->
        <appender name="jsonFileAllPropertiesAppender" type="log4net.Appender.FileAppender" >
            <file value="log-log4net-jsonFile-allProperties.log" />
            <appendToFile value="false" />
            <!-- Set up SerializedLayout as defined here: https://github.com/BrightOpen/log4net.Ext.Json#json-stuff -->
            <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
                <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
                <default />
                <!--explicit default members-->
                <remove value='message' />
                <!--remove the default preformatted message member-->
                <member value='message:messageobject' />
                <!--add raw message-->

                <!-- Trace Correlation Identifier Auto-Injection: start -->
                <member value='properties'/>
                <!-- Trace Correlation Identifier Auto-Injection: end -->
            </layout>
        </appender>

        <root>
            <level value="INFO" />
            <appender-ref ref="textFileExplicitPropertiesAppender" />
            <appender-ref ref="textFileAllPropertiesAppender" />
            <appender-ref ref="jsonFileExplicitPropertiesAppender" />
            <appender-ref ref="jsonFileAllPropertiesAppender" />
        </root>
    </log4net>
</configuration>