<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Samples.AspNetMvc5</title>
</head>
<body>
    <div>
        <main>
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            <span>Samples.AspNetMvc5</span>
        </div>
    </footer>
</body>
</html>
