@model List<KeyValuePair<string, string>>

@{
    ViewData["Title"] = "User Page";
}


<div>
    <h1>Welcome to .Net Core Weblog</h1>

    <div>@System.IO.Directory.GetCurrentDirectory()</div>

    <p>User has been set</p>
</div>
