<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="file" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="myapp.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!-- <conversionPattern value="%date [%thread] %level %logger - %message%newline" /> -->
      <conversionPattern value="%date [%thread] %level %logger {traceId=&quot;%property{dd.trace_id}&quot;, spanId=&quot;%property{dd.span_id}&quot;} - %message%newline" />
    </layout>
  </appender>
</log4net>