<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <fallbackPackageFolders>
    <!-- Do not depend on global state -->
    <clear />
  </fallbackPackageFolders>
  
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  
  <packageSources>    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  
  <config>
    <add key="RepositoryPath" value="../../_build/ImportedPackages" />
  </config>
</configuration>
