# EditorConfig is awesome:http://EditorConfig.org

[*.{cs,vb}]
dotnet_diagnostic.DDSEAL001.severity = error # types should be sealed

# Microsoft performance analyzers
dotnet_diagnostic.CA1802.severity = error # Use Literals Where Appropriate
dotnet_diagnostic.CA1805.severity = error # Do not initialize unnecessarily
dotnet_diagnostic.CA1806.severity = error # Do not ignore method results
# dotnet_diagnostic.CA1810.severity = error # Initialize reference type static fields inline
dotnet_diagnostic.CA1812.severity = error # Avoid uninstantiated internal classes
# dotnet_diagnostic.CA1813.severity = error # Avoid unsealed attributes
dotnet_diagnostic.CA1814.severity = error # Prefer jagged arrays over multidimensional
# dotnet_diagnostic.CA1815.severity = error # Override equals and operator equals on value types
dotnet_diagnostic.CA1819.severity = error # Properties should not return arrays
dotnet_diagnostic.CA1820.severity = error # Test for empty strings using string length
dotnet_diagnostic.CA1821.severity = error # Remove empty finalizers
# dotnet_diagnostic.CA1822.severity = error # Mark members as static
dotnet_diagnostic.CA1823.severity = error # Avoid unused private fields
dotnet_diagnostic.CA1824.severity = error # Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1825.severity = error # Avoid zero-length array allocations
dotnet_diagnostic.CA1826.severity = error # Use property instead of Linq Enumerable method
dotnet_diagnostic.CA1827.severity = error # Do not use Count/LongCount when Any can be used
dotnet_diagnostic.CA1828.severity = error # Do not use CountAsync/LongCountAsync when AnyAsync can be used
dotnet_diagnostic.CA1829.severity = error # Use Length/Count property instead of Enumerable.Count method
dotnet_diagnostic.CA1830.severity = error # Prefer strongly-typed Append and Insert method overloads on StringBuilder
dotnet_diagnostic.CA1831.severity = error # Use AsSpan instead of Range-based indexers for string when appropriate
dotnet_diagnostic.CA1832.severity = error # Use AsSpan or AsMemory instead of Range-based indexers for getting ReadOnlySpan or ReadOnlyMemory portion of an array.
dotnet_diagnostic.CA1833.severity = error # Use AsSpan or AsMemory instead of Range-based indexers for getting Span or Memory portion of an array.
dotnet_diagnostic.CA1834.severity = error # Use StringBuilder.Append(char) for single character strings
# dotnet_diagnostic.CA1835.severity = error # Prefer memory-based overloads of ReadAsync/WriteAsync - https://github.com/dotnet/roslyn-analyzers/issues/7328
dotnet_diagnostic.CA1836.severity = error # Prefer IsEmpty over Count when available
dotnet_diagnostic.CA1837.severity = error # Use Environment.ProcessId instead of Process.GetCurrentProcess().Id.
dotnet_diagnostic.CA1838.severity = error # Avoid StringBuilder parameters for P/Invokes
dotnet_diagnostic.CA1839.severity = error # Use Environment.ProcessPath instead of Process.GetCurrentProcess().MainModule.FileName.
dotnet_diagnostic.CA1840.severity = error # Use Environment.CurrentManagedThreadId instead of Thread.CurrentThread.ManagedThreadId.
dotnet_diagnostic.CA1841.severity = error # Prefer Dictionary Contains methods
dotnet_diagnostic.CA1842.severity = error # Do not use WhenAll with a single task
dotnet_diagnostic.CA1843.severity = error # Do not use WhenAll with a single task
dotnet_diagnostic.CA1844.severity = error # Provide memory-based overrides of async methods when subclassing Stream
dotnet_diagnostic.CA1845.severity = error # Use span-based string.Concat
dotnet_diagnostic.CA1846.severity = error # Prefer AsSpan over Substring
# dotnet_diagnostic.CA1847.severity = error # Use char literal for a single character lookup - too annoying to enable because it's not available on .NET Framework
dotnet_diagnostic.CA1848.severity = error # Use the LoggerMessage delegates
# dotnet_diagnostic.CA1849.severity = error # Call async methods when in an async method - this likely would make sense to enable, except in most cases currently it's not an issue and intentional
dotnet_diagnostic.CA1850.severity = error # Prefer static HashData method over ComputeHash - we should add it, but should be added separately
dotnet_diagnostic.CA1851.severity = error # Possible multiple enumerations of IEnumerable collection
dotnet_diagnostic.CA1853.severity = error # Unnecessary call to Dictionary.ContainsKey(key)
dotnet_diagnostic.CA1854.severity = error # Prefer IDictionary.TryGetValue
dotnet_diagnostic.CA1855.severity = error # Use Span<T>.Clear() instead of Span<T>.Fill()
dotnet_diagnostic.CA1856.severity = error # Incorrect usage of ConstantExpected attribute
dotnet_diagnostic.CA1857.severity = error # A constant is expected for the parameter
dotnet_diagnostic.CA1858.severity = error # Use StartsWith instead of IndexOf
dotnet_diagnostic.CA1859.severity = error # Use concrete types when possible
dotnet_diagnostic.CA1860.severity = error # Avoid using Enumerable.Any() extension method
dotnet_diagnostic.CA1861.severity = error # Avoid constant arrays as arguments
dotnet_diagnostic.CA1862.severity = error # Use StringComparison method overloads for case-insensitive comparisons
dotnet_diagnostic.CA1863.severity = error # Use char overload
dotnet_diagnostic.CA1864.severity = error # Prefer the IDictionary.TryAdd(TKey, TValue) method
# dotnet_diagnostic.CA1865.severity = error # Use char overload of StartsWith
# dotnet_diagnostic.CA1866.severity = error # Use char overload of EndsWith
# dotnet_diagnostic.CA1867.severity = error # Use char overload
dotnet_diagnostic.CA1868.severity = error # Unnecessary call to Contains for sets
dotnet_diagnostic.CA1869.severity = error # Cache and reuse JsonSerializerOptions instances
dotnet_diagnostic.CA1870.severity = error # Use a cached SearchValues instance
dotnet_diagnostic.CA1871.severity = error # Do not pass a nullable struct to ArgumentNullException.ThrowIfNull.
dotnet_diagnostic.CA1872.severity = error # Prefer Convert.ToHexString over BitConverter.ToString

# Microsoft security analyzers
dotnet_diagnostic.CA2100.severity = error # Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2109.severity = error # Review visible event handlers
dotnet_diagnostic.CA2119.severity = error # Seal methods that satisfy private interfaces
dotnet_diagnostic.CA2153.severity = error # Avoid handling corrupted state exceptions
dotnet_diagnostic.CA2300.severity = error # Do not use insecure deserializer BinaryFormatter
dotnet_diagnostic.CA2301.severity = error # Do not call BinaryFormatter.Deserialize without first setting Binder
dotnet_diagnostic.CA2302.severity = error # Ensure BinaryFormatter.Binder is set before calling Deserialize
dotnet_diagnostic.CA2305.severity = error # Do not use insecure deserializer LosFormatter
dotnet_diagnostic.CA2310.severity = error # Do not use insecure deserializer NetDataContractSerializer
dotnet_diagnostic.CA2311.severity = error # Do not deserialize without first setting NetDataContractSerializer.Binder
dotnet_diagnostic.CA2312.severity = error # Ensure NetDataContractSerializer.Binder is set before deserializing
dotnet_diagnostic.CA2315.severity = error # Do not use insecure deserializer ObjectStateFormatter
dotnet_diagnostic.CA2321.severity = error # Do not deserialize with JavaScriptSerializer using SimpleTypeResolver
dotnet_diagnostic.CA2322.severity = error # Ensure JavaScriptSerializer is not initialized with SimpleTypeResolver
dotnet_diagnostic.CA2326.severity = error # Do not use TypeNameHandling values other than None
dotnet_diagnostic.CA2327.severity = error # Do not use insecure JsonSerializerSettings
dotnet_diagnostic.CA2328.severity = error # Ensure that JsonSerializerSettings are secure
dotnet_diagnostic.CA2329.severity = error # Do not deserialize with JsonSerializer using insecure configuration
dotnet_diagnostic.CA2330.severity = error # Ensure JsonSerializer has secure configuration when deserializing
dotnet_diagnostic.CA2350.severity = error # Ensure DataTable.ReadXml() input is trusted
dotnet_diagnostic.CA2351.severity = error # Ensure DataSet.ReadXml() input is trusted
dotnet_diagnostic.CA2352.severity = error # Unsafe DataSet or DataTable in serializable type
dotnet_diagnostic.CA2353.severity = error # Unsafe DataSet or DataTable in serializable type
dotnet_diagnostic.CA2354.severity = error # Unsafe DataSet or DataTable in deserialized object graph
dotnet_diagnostic.CA2355.severity = error # Unsafe DataSet or DataTable in deserialized object graph
dotnet_diagnostic.CA2356.severity = error # Unsafe DataSet or DataTable in web deserialized object graph
dotnet_diagnostic.CA2361.severity = error # Ensure autogenerated class with DataSet.ReadXml() not used with untrusted data
dotnet_diagnostic.CA2362.severity = error # Unsafe DataSet or DataTable in autogenerated serializable type
dotnet_diagnostic.CA3001.severity = error # Review code for SQL injection vulnerabilities
dotnet_diagnostic.CA3002.severity = error # Review code for XSS vulnerabilities
dotnet_diagnostic.CA3003.severity = error # Review code for file path injection vulnerabilities
dotnet_diagnostic.CA3004.severity = error # Review code for information disclosure vulnerabilities
dotnet_diagnostic.CA3006.severity = error # Review code for process command injection vulnerabilities
dotnet_diagnostic.CA3007.severity = error # Review code for open redirect vulnerabilities
dotnet_diagnostic.CA3008.severity = error # Review code for XPath injection vulnerabilities
dotnet_diagnostic.CA3009.severity = error # Review code for XML injection vulnerabilities
dotnet_diagnostic.CA3010.severity = error # Review code for XAML injection vulnerabilities
dotnet_diagnostic.CA3011.severity = error # Review code for DLL injection vulnerabilities
dotnet_diagnostic.CA3012.severity = error # Review code for regex injection vulnerabilities
dotnet_diagnostic.CA3061.severity = error # Do not add schema by URL
dotnet_diagnostic.CA3075.severity = error # Insecure DTD Processing
dotnet_diagnostic.CA3076.severity = error # Insecure XSLT Script Execution
dotnet_diagnostic.CA3077.severity = error # Insecure Processing in API Design, XML Document and XML Text Reader
dotnet_diagnostic.CA3147.severity = error # Mark verb handlers with ValidateAntiForgeryToken
dotnet_diagnostic.CA5350.severity = error # Do Not Use Weak Cryptographic Algorithms
dotnet_diagnostic.CA5351.severity = error # Do Not Use Broken Cryptographic Algorithms
dotnet_diagnostic.CA5358.severity = error # Do Not Use Unsafe Cipher Modes
dotnet_diagnostic.CA5359.severity = error # Do not disable certificate validation
dotnet_diagnostic.CA5360.severity = error # Do not call dangerous methods in deserialization
dotnet_diagnostic.CA5361.severity = error # Do not disable SChannel use of strong crypto
dotnet_diagnostic.CA5362.severity = error # Potential reference cycle in deserialized object graph

# Disable security analyzers for vendored third-party code
[Vendors/**/*.{cs,vb}]
dotnet_diagnostic.CA2300.severity = none
dotnet_diagnostic.CA2301.severity = none
dotnet_diagnostic.CA2302.severity = none
dotnet_diagnostic.CA5350.severity = none
dotnet_diagnostic.CA5351.severity = none

