# EditorConfig is awesome:http://EditorConfig.org

[*.{cs,vb}]
dotnet_diagnostic.DDSEAL001.severity = error # types should be sealed

# Microsoft performance analyzers
dotnet_diagnostic.CA1802.severity = error # Use Literals Where Appropriate - A field is declared static and read-only (Shared and ReadOnly in Visual Basic), and is initialized with a value that is computable at compile time. Because the value that is assigned to the targeted field is computable at compile time, change the declaration to a const (Const in Visual Basic) field so that the value is computed at compile time instead of at runtime.
dotnet_diagnostic.CA1805.severity = error # Do not initialize unnecessarily - The .NET runtime initializes all fields of reference types to their default values before running the constructor. In most cases, explicitly initializing a field to its default value is redundant, which adds to maintenance costs and may degrade performance (such as with increased assembly size).
dotnet_diagnostic.CA1806.severity = error # Do not ignore method results - A new object is created but never used, or a method that creates and returns a new string is called and the new string is never used, or a Component Object Model (COM) or P/Invoke method returns an HRESULT or error code that is never used.
# dotnet_diagnostic.CA1810.severity = error # Initialize reference type static fields inline - When a type declares an explicit static constructor, the just-in-time (JIT) compiler adds a check to each static method and instance constructor of the type to make sure that the static constructor was previously called. Static constructor checks can decrease performance.
dotnet_diagnostic.CA1812.severity = error # Avoid uninstantiated internal classes - An instance of an assembly-level type is not created by code in the assembly.
# dotnet_diagnostic.CA1813.severity = error # Avoid unsealed attributes - .NET provides methods for retrieving custom attributes. By default, these methods search the attribute inheritance hierarchy. Sealing the attribute eliminates the search through the inheritance hierarchy and can improve performance.
dotnet_diagnostic.CA1814.severity = error # Prefer jagged arrays over multidimensional - A jagged array is an array whose elements are arrays. The arrays that make up the elements can be of different sizes, which can result in less wasted space for some sets of data.
# dotnet_diagnostic.CA1815.severity = error # Override equals and operator equals on value types - Too many violations (~60)
