<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Samples.AspNetCoreMvc</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @if (ViewBag.StackTrace != null)
    {
        <h3>Stack trace: </h3>
        <div style="padding-left: 10px;">
            <pre>
                @foreach (string entry in ViewBag.StackTrace)
                {
                    @(entry)
                }
            </pre>
        </div>
    }
</body>
</html>
