<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="jsonFile-withInject" xsi:type="File" fileName="${basedir}\log-jsonFile-withInject.log">
            <layout xsi:type="JsonLayout" includeMdc="true" includeMdlc="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=ToString}" />
            </layout>
        </target>

        <target name="jsonFile-noInject" xsi:type="File" fileName="${basedir}\log-jsonFile-noInject.log">
          <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${level:upperCase=true}"/>
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception:format=ToString}" />
          </layout>
        </target>

        <target name="textFile-withInject" xsi:type="File" fileName="${basedir}\log-textFile-withInject.log"
                layout="${longdate}|${uppercase:${level}}|${logger}|{dd.env: &quot;${mdlc:item=dd.env}&quot;,dd.service: &quot;${mdlc:item=dd.service}&quot;,dd.version: &quot;${mdlc:item=dd.version}&quot;,dd.trace_id: &quot;${mdlc:item=dd.trace_id}&quot;,dd.span_id: &quot;${mdlc:item=dd.span_id}&quot;}|${message}" />

      <!-- we don't automatically inject into text files/simple layout to not break users log parsing -->
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="jsonFile-withInject,jsonFile-noInject,textFile-withInject,textFile-noInject" />
    </rules>
</nlog>