<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="jsonFile-noInject" xsi:type="File" fileName="${basedir}\log-jsonFile-noInject.log">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=ToString}" />
            </layout>
        </target>

      <!-- we don't automatically inject into text files/simple layout to not break users log parsing -->
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="jsonFile-noInject" />
    </rules>
</nlog>
