<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- AsyncTargetWrapper intentionally has no Layout. -->
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${basedir}\first-chance-exception-repro.log"
              layout="${longdate}|${level:upperCase=true}|${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="asyncFile" />
  </rules>
</nlog>
