<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!-- For the default SimpleLayout, you must explicitly extract the 'dd.trace_id' and 'dd.span_id' values using the ${mdlc:item=String} syntax (see: https://github.com/NLog/NLog/wiki/MDLC-Layout-Renderer) -->
        <!-- Additionally, for Datadog to automatically parse the trace id and span id from text log lines, the values must be surrounded by quotes -->
        <!--
            Additions to layout:
            - dd.trace_id=&quot;${mdlc:item=dd.trace_id}&quot;
            - dd.span_id=&quot;${mdlc:item=dd.span_id}&quot;
        -->
        <target name="textFile" xsi:type="File" fileName="log-NLog-textFile.log"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}|context properties: order-number=${mdlc:item=order-number},dd.trace_id=&quot;${mdlc:item=dd.trace_id}&quot;,dd.span_id=&quot;${mdlc:item=dd.span_id}&quot;" />

        <!-- For JsonLayout when includeMdlc=true, you do not need to do any additional work to extract the 'dd.trace_id' and 'dd.span_id' values (see: https://github.com/NLog/NLog/wiki/JsonLayout) -->
        <!--
            Additions to layout: none
        -->
        <target name="jsonFile-includeMdlc-true" xsi:type="File" fileName="log-NLog-jsonFile-includeMdlc-true.log">
            <layout xsi:type="JsonLayout" includeMdlc="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />
            </layout>
        </target>

        <!-- For JsonLayout when includeMdlc=false, you must explicitly extract the 'dd.trace_id' and 'dd.span_id' values using new <attribute> nodes (see: https://github.com/NLog/NLog/wiki/JsonLayout) -->
        <!--
            Additions to layout:
            - <attribute name="dd.trace_id" layout="${mdlc:item=dd.trace_id}"/>
            - <attribute name="dd.span_id" layout="${mdlc:item=dd.span_id}"/>
        -->
        <target name="jsonFile-includeMdlc-false" xsi:type="File" fileName="log-NLog-jsonFile-includeMdlc-false.log">
            <layout xsi:type="JsonLayout" includeMdlc="false">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />
                <attribute name="order-number" layout="${mdlc:item=order-number}"/>

                <!-- Manual changes: start -->
                <attribute name="dd.trace_id" layout="${mdlc:item=dd.trace_id}"/>
                <attribute name="dd.span_id" layout="${mdlc:item=dd.span_id}"/>
                <!-- Manual changes: end -->
            </layout>
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="textFile,jsonFile-includeMdlc-true,jsonFile-includeMdlc-false" />
    </rules>
</nlog>