<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Datadog.Demos.NoOpWcfService.Library.LibraryService" behaviorConfiguration="LibraryServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:9999/LibraryService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpsBinding" contract="Datadog.Demos.NoOpWcfService.Library.ILibraryService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LibraryServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpsBinding>
        <binding>
          <security>
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
  </system.serviceModel>
</configuration>