@model IEnumerable<Link>
@{
    ViewData["Title"] = "Links";
}

<h1>Links</h1>
<br />
<p>These are some really old links - most of them don't lead anywhere anymore, you have to go on the <a href="https://web.archive.org/">WaybackMachine</a> to read the content these days.</p>
<br />
<ul>
    @foreach (var link in Model)
    {
        <li><a href="@link.URL">@link.Title</a></li>
    }
</ul>
