@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Buggy Bits</h1>
    <p>This is your one stop shop for very buggy bits</p>
    <p>The purpose of this site is tho show some examples of code behaving badly in an ASP.Net process so that you can practice your debugging skills.</p>
    <p>Browsing around this site will cause the process to hang, use lots of memory or crash.</p>
</div>
