trigger:
  batch: 'true'
  branches:
    include:
      - refs/heads/*
  paths:
    exclude:
      - docs/*
      - .github/*

strategy:
  matrix:
    windows:
      imageName: windows-2019
    linux:
      imageName: ubuntu-16.04

pool:
  vmImage: $(imageName)

variables:
  buildConfiguration: debug
  packageFeed: /ffc32c57-3e0e-4e8f-8633-a7ad01df2e45

steps:
- task: DotNetCoreInstaller@0
  displayName: install dotnet core sdk
  inputs:
    version: 2.2.300

- task: DotNetCoreCLI@2
  displayName: dotnet restore
  inputs:
    command: restore
    projects: |
     src/**/*.csproj
     test/**/*.Tests.csproj
    vstsFeed: $(packageFeed)
    verbosityRestore: Normal

- task: DotNetCoreCLI@2
  displayName: dotnet build
  inputs:
    command: build
    projects: |
     src/**/*.csproj
     test/**/*.Tests.csproj
    arguments: --configuration $(buildConfiguration)

- task: DotNetCoreCLI@2
  displayName: dotnet test
  inputs:
    command: test
    projects: test/**/*.Tests.csproj
    arguments: --configuration $(buildConfiguration)
