name: All Green
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all-green:
    runs-on: ubuntu-latest
    permissions:
      checks: read
      statuses: read
    steps:
      - uses: DataDog/ensure-ci-success@f40e6ffd8e60280d478b9b92209aaa30d3d56895
        with:
          initial-delay-seconds: 10  # wait for this delay before starting
          max-retries: 60  # how many retries before stopping 
          ignored-name-patterns: |
            consolidated-pipeline
            throughput
            dd-gitlab/run-benchmarks
            .github/dependabot.yml
            dd-gitlab/default-pipeline
            benchmarks
            profiler_execution_benchmarks
            dd-gitlab/download-serverless-artifacts
            dd-gitlab/download-single-step-artifacts
            throughput_profiler
            integration_tests_arm64_debugger

# Why some checks are excluded? Success ratio are too low :
# - consolidated-pipeline : 10%
# - throughput : 20%
# - dd-gitlab/run-benchmarks : 62%
# - .github/dependabot.yml : 80%
# - dd-gitlab/default-pipeline : 81%
# - benchmarks : 84%
# - profiler_execution_benchmarks : 84%
# - dd-gitlab/download-serverless-artifacts : 86%
# - dd-gitlab/download-single-step-artifacts : 88%
# - throughput_profiler : 89%
# - integration_tests_arm64_debugger : 89%