name: Auto bump test package versions

on:
  schedule:
    - cron: "0 0 * * 0" # Every Sunday at midnight
  pull_request_target:
    branches: [master]
  workflow_dispatch:

jobs:
  bump_package_versions:
    if: github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || startsWith(github.event.pull_request.head.ref, 'dependabot/nuget/tracer/dependabot/') == true
    runs-on: windows-latest
    permissions:
      actions: read # read secrets
      id-token: write # Required for dd-octo-sts authentication
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true

      - name: Get dd-octo-sts token
        uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/dd-trace-dotnet
          policy: self.auto_bump_test_package_versions.create-pr

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          global-json-file: global.json

      - name: "Regenerating package versions"
        run: .\tracer\build.ps1 GeneratePackageVersions

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ steps.octo-sts.outputs.token }}
          branch: "bot/test-package-versions-bump"
          commit-message: "[Test Package Versions Bump]"
          delete-branch: true
          base: master
          title: "[Test Package Versions Bump] Updating package versions "
          milestone: "${{steps.rename.outputs.milestone}}"
          labels: "area:dependabot,area:test-apps,dependencies"
          body: |
            Updates the package versions for integration tests.

      - name: Send Slack notification about generating failure
        if: failure()
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          # This data can be any valid JSON from a previous step in the GitHub Action
          payload: |
            {
              "github_url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBOOK_URL_GENERATEPACKAGEVERSIONS }}
