name: Check snapshots

on:
- pull_request

jobs:
  check-snapshots:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.304'

      - name: "Check Snapshots"
        run: ./tracer/build.sh SummaryOfSnapshotChanges
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PullRequestNumber: "${{ github.event.pull_request.number }}"
          TargetBranch: "${{ github.base_ref }}"