name: Check snapshots

on:
- pull_request

jobs:
  check-snapshots:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # need to add a comment to a PR

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@3951f0dfe7a07e2313ec93c75700083e2005cbab # v4.3.0
        with:
          dotnet-version: '9.0.102'

      - name: "Check Snapshots"
        run: ./tracer/build.sh SummaryOfSnapshotChanges
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PullRequestNumber: "${{ github.event.pull_request.number }}"
          TargetBranch: "${{ github.base_ref }}"
