name: Block PR on Code Freeze

on:
  pull_request:

jobs:
  check_for_code_freeze:
    runs-on: ubuntu-latest

    steps:
    - uses: octokit/request-action@v2.x
      name: 'Get Milestones'
      id: milestones
      with:
        route: GET /repos/{owner}/{repo}/milestones
        owner: Datadog
        repo: dd-trace-dotnet
        state: open
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    - run: |
        set -o pipefail
        sha="${{ github.event.pull_request.head.sha }}"
        targetUrl="https://github.com/DataDog/dd-trace-dotnet/actions/workflows/auto_code_freeze_block_pr.yml"
        state="success"
        description="No code freeze is in place"
        
        if addr=$(${{ steps.milestones.outputs.data }} | jq -er '.[] | select(.title == "Code Freeze")'); then
          state="failure"
          description="A code freeze is in place"
        fi
        
        echo "$description, setting check status $state"
        
        curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/DataDog/dd-trace-dotnet/statuses/$sha \
            -d '{"state":"$state","context":"code_freeze","description":"$description","target_url":"$targetUrl"}'

      name: 'Check Code Freeze status'