name: Check snapshots

on:
- pull_request

jobs:
  check-snapshots:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # need to add a comment to a PR

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: '10.0.100-preview.7.25380.108'

      - name: "Check Snapshots"
        run: ./tracer/build.sh SummaryOfSnapshotChanges
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PullRequestNumber: "${{ github.event.pull_request.number }}"
          TargetBranch: "${{ github.base_ref }}"
