name: Check snapshots

on:
- pull_request

jobs:
  check-snapshots:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # need to add a comment to a PR

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json

      - name: "Check Snapshots"
        run: ./tracer/build.sh SummaryOfSnapshotChanges
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PullRequestNumber: "${{ github.event.pull_request.number }}"
          TargetBranch: "${{ github.base_ref }}"
