name: Auto bump test package versions

on:
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight
  pull_request_target:
    branches: [master, main]
  workflow_dispatch:

jobs:
  bump_package_versions:
    if: github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || startsWith(github.event.pull_request.head.ref, 'dependabot/nuget/tracer/dependabot/') == true
    runs-on: windows-latest
    permissions:
      actions: read # read secrets
      contents: write # Creates a branch
      pull-requests: write # Creates a PR
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: '10.0.100-preview.6.25358.103'

      - name: "Regenerating package versions"
        run: .\tracer\build.ps1 GeneratePackageVersions

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: "bot/test-package-versions-bump"
          commit-message: "[Test Package Versions Bump]"
          delete-branch: true
          base: master
          title: "[Test Package Versions Bump] Updating package versions "
          milestone: "${{steps.rename.outputs.milestone}}"
          body: |
            Updates the package versions for integration tests.
            
      - name: Send Slack notification about generating failure
        if: failure()
        uses: slackapi/slack-github-action@b0fa283ad8fea605de13dc3f449259339835fc52 # v2.1.0
        with:
          # This data can be any valid JSON from a previous step in the GitHub Action
          payload: |
            {
              "github_url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBOOK_URL_GENERATEPACKAGEVERSIONS }}
