name: Auto add PR to vNext milestone

on:
  pull_request:
    branches:
      - master
      - main
      - release/**
    types: [closed]

jobs:
  add_to_milestone:
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.title, '[Version Bump]') == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # need to modify existing PR
      issues: write # need to potentially create a new milestone
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json

      - name: "Assign to vNext Milestone"
        run: ./tracer/build.sh AssignPullRequestToMilestone
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          PullRequestNumber: "${{ github.event.pull_request.number }}"
