name: End code freeze

on:
  workflow_dispatch:
  milestone:
    types: [closed, deleted, edited]

jobs:
  end_code_freeze:
    if: | 
      github.event_name == 'workflow_dispatch' || 
      (github.event.milestone.title == 'Code Freeze' && github.event.milestone.state == 'closed')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read # Fetches PRs
      issues: write # Opens milestones
      statuses: write # add a commit status check
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    steps:
    - name: Clone dd-trace-dotnet repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - uses: octokit/request-action@786351db496fa66730d8faa09ef279108da175a3 # v2.x
      name: 'Close Code Freeze Milestone'
      id: milestones
      if: github.event_name == 'workflow_dispatch'
      with:
        route: PATCH /repos/{owner}/{repo}/milestones/115
        owner: DataDog
        repo: dd-trace-dotnet
        state: closed
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    # Unfreeze PRs
    - uses: ./.github/actions/pr-status-updater
      name: 'Unfreeze PRs'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        state: success
        workflow_name: code_freeze_end.yml # this allows for a click through to go to the action