name: End code freeze

on:
  workflow_dispatch:
  milestone:
    types: [closed, deleted, edited]

jobs:
  end_code_freeze:
    if: | 
      github.event_name == 'workflow_dispatch' 
      || (github.event.milestone.title == 'Code Freeze' && github.event.milestone.state == 'closed')
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    steps:
    - name: Clone dd-trace-dotnet repository
      uses: actions/checkout@v3

    - uses: octokit/request-action@v2.x
      name: 'Close Code Freeze Milestone'
      id: milestones
      if: github.event_name == 'workflow_dispatch'
      with:
        route: PATCH /repos/{owner}/{repo}/milestones/115
        owner: DataDog
        repo: dd-trace-dotnet
        state: closed
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    - uses: ./.github/actions/code-freeze
      name: 'Unfreeze 25 PRs'
      with:
        page_number: 1
        github_token: ${{ secrets.GITHUB_TOKEN }}
        end_freeze: "true"

    - uses: ./.github/actions/code-freeze
      name: 'Unfreeze 25 PRs'
      with:
        page_number: 2
        github_token: ${{ secrets.GITHUB_TOKEN }}
        end_freeze: "true"

    - uses: ./.github/actions/code-freeze
      name: 'Unfreeze 25 PRs'
      with:
        page_number: 3
        github_token: ${{ secrets.GITHUB_TOKEN }}
        end_freeze: "true"

    - uses: ./.github/actions/code-freeze
      name: 'Unfreeze 25 PRs'
      with:
        page_number: 4
        github_token: ${{ secrets.GITHUB_TOKEN }}
        end_freeze: "true"