name: Start code freeze

on:
  workflow_dispatch:
  milestone:
    types: [opened, created, edited]

jobs:
  start_code_freeze:
    if: | 
      github.event_name == 'workflow_dispatch' || 
      (github.event.milestone.title == 'Code Freeze' && github.event.milestone.state == 'open')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read # read secrets
      pull-requests: read # Fetches PRs
      issues: write # Opens milestones
      statuses: write # add a commit status check
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    steps:
      - name: Clone dd-trace-dotnet repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: octokit/request-action@786351db496fa66730d8faa09ef279108da175a3 # v2.x
        name: 'Open Code Freeze Milestone'
        id: milestones
        if: github.event_name == 'workflow_dispatch'
        with:
          route: PATCH /repos/{owner}/{repo}/milestones/115
          owner: DataDog
          repo: dd-trace-dotnet
          state: open
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - uses: ./.github/actions/pr-status-updater
        name: 'Freeze PRs'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          state: failure
          workflow_name: code_freeze_start.yml # this allows for a click through to go to the action

      - uses: ./.github/actions/deploy-aas-dev-apps
        name: 'Trigger AAS deploy'
        with:
          github_app_id: ${{ secrets.GH_APP_ID }}
          github_app_private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}
