name: Create draft release

on:
  workflow_dispatch:
    inputs:
      forced_commit_id:
        description: 'Force using artifacts from specific commit? If provided, this will try and use the artifacts from the given commit, regardless of build status'
        required: false
      ignore_gitlab_failures:
        description: "DANGER Force ignoring any issues with the GitLab artifacts or SSI. Don't use this unless you _really_ know what you're doing"
        required: false

jobs:
  create_draft_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # create release
      actions: read # read secrets
      issues: write # change milestones 
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      AZURE_DEVOPS_TOKEN: "${{ secrets.AZURE_DEVOPS_TOKEN }}"

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set SHA
        id: set_sha
        run: |
          if [ -z "${{ github.event.inputs.forced_commit_id }}" ]; then
              commitsha="${GITHUB_SHA}"
          else
              commitsha="${{ github.event.inputs.forced_commit_id }}"
          fi
          echo "Using sha $commitsha"
          echo "sha=${commitsha}" >> $GITHUB_OUTPUT

      - uses: actions/setup-dotnet@3951f0dfe7a07e2313ec93c75700083e2005cbab # v4.3.0
        with:
          dotnet-version: '9.0.102'

      - name: "Configure Git Credentials"
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: "Check GitLab status"
        if: ${{ !github.event.inputs.ignore_gitlab_failures }}
        run: ./tracer/build.sh VerifyReleaseReadiness
        env:
          CommitSha: "${{ steps.set_sha.outputs.sha }}"

      - name: "Get current version"
        id: versions
        run: ./tracer/build.sh OutputCurrentVersionToGitHub

      - name: "Download build assets from Azure Pipelines"
        id: assets
        run: ./tracer/build.sh DownloadReleaseArtifacts
        env:
          TargetBranch: ${{ github.event.ref }}
          CommitSha: "${{ steps.set_sha.outputs.sha }}"

      - name: "Generate release notes"
        id: release_notes
        run: ./tracer/build.sh GenerateReleaseNotes
        env:
          PIPELINE_ARTIFACTS_LINK: ${{steps.assets.outputs.artifacts_link}}

      - name: "Rename vNext milestone"
        id: rename
        # We don't rename vNext/vNext-v1 for hotfix releases
        if: ${{ !contains(github.event.ref, 'hotfix') }}
        run: ./tracer/build.sh RenameVNextMilestone
        env:
          Version: ${{steps.versions.outputs.full_version}}

      - name: "Create and push git tag"
        run: |
          git tag "v${{steps.versions.outputs.full_version}}"
          git push origin "v${{steps.versions.outputs.full_version}}"

      - name: Create Release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v1.0.0
        with:
          draft: true
          name: "${{steps.versions.outputs.full_version}}"
          tag_name: "v${{steps.versions.outputs.full_version}}"
          prerelease: ${{steps.versions.outputs.isprerelease}}
          body: ${{steps.release_notes.outputs.release_notes}}
          fail_on_unmatched_files: true
          files: |
            ${{steps.assets.outputs.artifacts_path}}/*.deb
            ${{steps.assets.outputs.artifacts_path}}/*.rpm
            ${{steps.assets.outputs.artifacts_path}}/*.tar.gz
            ${{steps.assets.outputs.artifacts_path}}/*.zip
            ${{steps.assets.outputs.gitlab_artifacts_path}}/*.msi
            ${{steps.assets.outputs.gitlab_artifacts_path}}/*.zip
            ${{steps.assets.outputs.sha_path}}

      - name: "Publish nuget packages to nuget.org"
        working-directory: ${{steps.assets.outputs.artifacts_path}}
        run: |
          dotnet nuget push "*.${{steps.versions.outputs.full_version}}*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

      - name: Prepare debug symbols for publishing
        shell: bash
        run: |
          mkdir debug_symbols
          tar -zxvf ${{steps.assets.outputs.artifacts_path}}/linux-native-symbols.tar.gz -C debug_symbols

      - name: 'Push debug symbols to datadog'
        uses: ./.github/actions/publish-debug-symbols
        with:
          symbols_folder: "debug_symbols"
          preprod_key: "${{ secrets.DD_PREPROD_API_KEY }}"
          prod_key: "${{ secrets.DD_API_KEY }}"
