name: Create draft release

on:
  workflow_dispatch:

jobs:
  create_draft_release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      AZURE_DEVOPS_TOKEN: "${{ secrets.AZURE_DEVOPS_TOKEN }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: "Configure Git Credentials"
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: "Get current version"
        id: versions
        run: ./tracer/build.sh OutputCurrentVersionToGitHub

      - name: "Download build assets from Azure Pipelines"
        id: assets
        run: ./tracer/build.sh DownloadAzurePipelineAndGitlabArtifacts
        env:
          TargetBranch: ${{ github.event.ref }}

      - name: "Generate release notes"
        id: release_notes
        run: ./tracer/build.sh GenerateReleaseNotes
        env:
          PIPELINE_ARTIFACTS_LINK: ${{steps.assets.outputs.artifacts_link}}

      - name: "Rename vNext milestone"
        id: rename
        # We don't rename vNext/vNext-v1 for hotfix releases
        if: ${{ !contains(github.event.ref, 'hotfix') }}
        run: ./tracer/build.sh RenameVNextMilestone
        env:
          Version: ${{steps.versions.outputs.full_version}}

      - name: "Create and push git tag"
        run: |
          git tag "v${{steps.versions.outputs.full_version}}"
          git push origin "v${{steps.versions.outputs.full_version}}"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          name: "${{steps.versions.outputs.full_version}}"
          tag_name: "v${{steps.versions.outputs.full_version}}"
          prerelease: ${{steps.versions.outputs.isprerelease}}
          body: ${{steps.release_notes.outputs.release_notes}}
          fail_on_unmatched_files: true
          files: |
            ${{steps.assets.outputs.artifacts_path}}/*.deb
            ${{steps.assets.outputs.artifacts_path}}/*.rpm
            ${{steps.assets.outputs.artifacts_path}}/*.tar.gz
            ${{steps.assets.outputs.artifacts_path}}/*.zip
            ${{steps.assets.outputs.gitlab_artifacts_path}}/*.msi
            ${{steps.assets.outputs.gitlab_artifacts_path}}/*.zip

      - name: "Publish nuget packages to nuget.org"
        working-directory: ${{steps.assets.outputs.artifacts_path}}
        run: |
          dotnet nuget push Datadog.Trace.{{steps.versions.outputs.full_version}}.nupkg --api-key {{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
          dotnet nuget push Datadog.Trace.{{steps.versions.outputs.full_version}}.snupkg --api-key {{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
          dotnet nuget push Datadog.OpenTracing.{{steps.versions.outputs.full_version}}.nupkg --api-key {{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
          dotnet nuget push Datadog.OpenTracing.{{steps.versions.outputs.full_version}}.snupkg --api-key {{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
          dotnet nuget push Datadog.Monitoring.Distribution.{{steps.versions.outputs.full_version}}-beta01.nupkg --api-key {{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
          dotnet nuget push dd-trace.{{steps.versions.outputs.full_version}}.nupkg --api-key {{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json