name: Publish debug symbols

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'An already released version of .NET APM, without the "v" suffix, e.g. "3.3.1"'
        required: true

jobs:
  publish_native_debug_symbols:
    runs-on: ubuntu-latest
    environment: publish-debug-symbols-env
    env:
      ARTIFACTS_PATH: ${{ github.workspace }}/artifacts

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Download Linux native symbols v${{ github.event.inputs.version }}
        shell: bash
        run: |
          curl --create-dirs -s -OL --output-dir "$ARTIFACTS_PATH" https://github.com/DataDog/dd-trace-dotnet/releases/download/v${{ github.event.inputs.version }}/linux-native-symbols.tar.gz
      - name: Download Windows native symbols v${{ github.event.inputs.version }}
        shell: bash
        run: |
          curl --create-dirs -s -OL --output-dir "$ARTIFACTS_PATH" https://github.com/DataDog/dd-trace-dotnet/releases/download/v${{ github.event.inputs.version }}/windows-native-symbols.zip
          # datadog-ci needs the dll to check if we can send the PDB files
          curl --create-dirs -s -OL --output-dir "$ARTIFACTS_PATH" https://github.com/DataDog/dd-trace-dotnet/releases/download/v${{ github.event.inputs.version }}/windows-tracer-home.zip

      - name: 'Push debug symbols to datadog'
        uses: ./.github/actions/publish-debug-symbols
        with:
          artifacts_path: ${{ env.ARTIFACTS_PATH }}
          preprod_api_key: ${{ secrets.DD_PUBLIC_SYMBOL_PREPROD_API_KEY }}
          us1_api_key: ${{ secrets.DD_PUBLIC_SYMBOL_API_KEY_US1 }}
          us3_api_key: ${{ secrets.DD_PUBLIC_SYMBOL_API_KEY_US3 }}
          us5_api_key: ${{ secrets.DD_PUBLIC_SYMBOL_API_KEY_US5 }}
          eu1_api_key: ${{ secrets.DD_PUBLIC_SYMBOL_API_KEY_EU1 }}
          ap1_api_key: ${{ secrets.DD_PUBLIC_SYMBOL_API_KEY_AP1 }}
          ap2_api_key: ${{ secrets.DD_PUBLIC_SYMBOL_API_KEY_AP2 }}
