name: Verify Sample solution changes have been persisted

on:
  pull_request:
  workflow_dispatch:

jobs:
  verify_solution_changes_are_persisted:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          global-json-file: global.json

      - name: "Regenerating Solutions"
        run: .\tracer\build.ps1 RegenerateSolutions

      - name: "Verify no changes in generated solutions"
        run: |
          git diff --quiet
          if ($LASTEXITCODE -eq 1) {
            git diff
            Write-Error "Found changes in generated solutions. Did you add a new sample? Regenerate the build solution locally by running the target 'RegenerateSolutions', and ensure the changed files are committed to git."
            Exit 1
          } else {
            echo "No changes found to generated files"
          }
