name: Verify docs/span_metadata.md is updated

on:
  pull_request:
  workflow_dispatch:

jobs:
  verify_span_metadata:
    runs-on: windows-latest

    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true

      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.100-rc.2.23502.2'

      - name: "Regenerate docs/span_metadata.md"
        run: .\tracer\build.ps1 GenerateSpanDocumentation

      - name: "Verify no changes in docs/span_metadata.md"
        run: |
          git diff --quiet -- .\docs\span_metadata.md
          if ($LASTEXITCODE -eq 1) {
            git diff -- .\docs\span_metadata.md
            Write-Error "Found changes in docs/span_metadata.md file. Run build task GenerateSpanDocumentation to regenerate the file with the latest C# rules."
            Exit 1
          } else {
            echo "No changes found to docs/span_metadata.md file"
          }
