name: Verify ultimate-pipeline.yml changes have been persisted

on:
  pull_request:
  workflow_dispatch:

jobs:
  verify_solution_changes_are_persisted:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json

      - name: "Running GenerateUpdateGitHubPipelineStep"
        run: .\tracer\build.ps1 GenerateUpdateGitHubPipelineStep

      - name: "Verify no changes in generated templates"
        run: |
          git diff --quiet -- .\.azure-pipelines\steps\update-github-pipeline-status.yml
          if ($LASTEXITCODE -eq 1) {
            git diff
            Write-Error "Found changes in generated template. Did you change the stages in ultimate-pipeline? Regenerate the template locally by running the target 'GenerateUpdateGitHubPipelineStep', and ensure the changed files are committed to git."
            Exit 1
          } else {
            echo "No changes found to generated template"
          }
