<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="configBuilders"
             type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             restartOnExternalChanges="false"
             requirePermission="false" />
  </configSections>

  <configBuilders>
    <builders>
      <add name="HttpBuilder"
           type="Samples.ConsoleDeadLock.HttpConfigBuilder, Samples.ConsoleDeadLock" />
    </builders>
  </configBuilders>

  <!-- The configBuilders attribute triggers the HttpConfigBuilder when AppSettings is first accessed -->
  <appSettings configBuilders="HttpBuilder">
    <add key="TestKey" value="TestValue" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
